<div class="open-div" [ngStyle]="{'width': width}">
    <ion-grid class="grid-challengeSuggestions">
        <ion-row *ngIf="showAddSuggestion">
            <ion-col>
                <div class="new-comment-message">
                    <ion-textarea rows="4" maxlength="250" placeholder="O que você está pensando? Conta pra gente!" [(ngModel)]="newChallengeWeekSuggesion.description"></ion-textarea>
                    <div>
                        <ion-note>{{ newChallengeWeekSuggesion?.description?.length ? newChallengeWeekSuggesion?.description?.length : 0}} / 250 caracteres</ion-note>
                        <ion-button fill="clear" color="primary" (click)="postNewChallengeSuggestion()">{{newChallengeWeekSuggesion?.id ? 'ALterar': 'Enviar'}}</ion-button>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item lines="none">
                    <ion-button color="secondary" (click)="showAddSuggestionButton()">
                        <ion-label color="light">{{showAddSuggestion ? 'Cancelar':'Add sugestão'}}</ion-label>
                    </ion-button>

                    <ion-button (click)="setVote()" *ngIf="vote">
                        <ion-label *ngIf="quiz?.challengeQuizUserVote?.vote!==vote">{{quiz?.challengeQuizUserVote ? 'Mudar voto': 'Votar'}}</ion-label>
                        <ion-label *ngIf="quiz?.challengeQuizUserVote?.vote===vote">Remover Voto</ion-label>
                    </ion-button>

                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row *permission="'super_admin'">
            <ion-col>
                <ion-item lines="none">
                    <ion-button color="tertiary" (click)="countVote()">
                        <ion-label>Apurar Votação</ion-label>
                    </ion-button>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-radio-group [(ngModel)]="vote" (ionChange)="setSelectedDescription()">
                        <ion-list-header>
                            <ion-label>Enquete para próximo desafio</ion-label>
                        </ion-list-header>
                        <ion-list-header>
                            <ion-label>Termina em {{quiz?.dateF | date}}</ion-label>
                        </ion-list-header>

                        <ion-item lines="none" *ngFor="let challengeWeek of quiz?.challengeSuggestions">
                            <ion-radio [value]="challengeWeek?.id"></ion-radio>
                            <ion-label>{{challengeWeek?.description}}</ion-label>
                        </ion-item>

                    </ion-radio-group>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div *ngIf="newChallengeWeekSuggesion?.id">
                    <ion-textarea><strong>votos:</strong> {{selectedSuggestionVotes}}<br>{{selectedDescription}}</ion-textarea>
                    <ion-item lines="none">

                        <ion-button (click)="showAddSuggestionButton(true)" *ngIf="newChallengeWeekSuggesion?.id">
                            <ion-icon name="create-outline"></ion-icon>
                        </ion-button>

                        <ion-button color="danger" (click)="deleteSuggestion()" *ngIf="newChallengeWeekSuggesion?.id">
                            <ion-icon name="trash-outline"></ion-icon>
                        </ion-button>
                    </ion-item>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>