<ion-grid>
  <ion-row>
    <ion-col size="10">
      <div class="flex-container-row logo-div">
        <ion-avatar class="logo">
          <ion-img alt="Igreaja Batista Nova Betel" src="./assets/images/logo.png"></ion-img>
        </ion-avatar>
        <p class="lb-feed-title">{{ feed?.title }}</p>
        <ion-icon [ngClass]="{'hidde-menu':!permission}" (click)="menuPost(feed, $event)"
          name="ellipsis-vertical-outline"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="feed?.image?.length>0">
    <ion-col>
      <div class="feed-img-short">
        <ion-img alt="Igreaja Batista Nova Betel" [src]="feed?.image"></ion-img>
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="showReactions">
    <ion-col>
      <div class="headers-reactions">
        <ion-icon color="secondary" *ngIf="!feed?.love" name="heart-outline" (click)="setLove()"></ion-icon>
        <ion-icon color="danger" *ngIf="feed?.love" name="heart-sharp" (click)="setLove()"></ion-icon>
        <ion-icon color="secondary" name="chatbubble-outline" (click)="accessUrl()"></ion-icon>
        <ion-label>{{ feed?.date +' '+feed?.time | date: 'dd/MM/yyyy HH:mm:ss' }}</ion-label>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div [ngClass]="{ 'short-message': !expandAll, 'complete-message': expandAll}">{{ feed?.message
        }}</div>
      <ion-item lines="none" *ngIf="feed?.message?.length>100">
        <p class="p-as-a-link" (click)="showCompleteMessage()">{{expandAll ? 'MENOS': 'MAIS...'}}</p>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>