<ion-grid>
  <ion-row>
    <ion-col>
      <div class="flex-container-row logo-div">
        <ion-avatar class="logo">
          <ion-img alt="Igreaja Batista Nova Betel" src="./assets/images/logo.png"></ion-img>
        </ion-avatar>
        <div class="lb-feed-title-div">
          <p class="lb-feed-title">Betel</p>
          <p class="lb-feed-subtitle">Sede-Cruz das Almas</p>
          <p *ngIf="editable" class="lb-feed-subtitle" [ngStyle]="{'color': feed?.isPublished?'green':'red'}">
            {{feed?.isPublished?'Publicado':'Não publicado'}}</p>

        </div>

        <ion-icon *ngIf="editable" color="primary" (click)="menuPost(feed, $event)"
          name="ellipsis-vertical-outline"></ion-icon>
      </div>
      <div>

      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="feed?.image?.length>0">
    <ion-col>
      <div>
        <img class="image-post" alt="Erro ao carregar imagem" [src]="feed?.image">
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="showReactions">
    <ion-col>
      <div class="headers-reactions">
        <ion-icon color="secondary" *ngIf="!feed?.love" name="heart-outline" (click)="setLove()"></ion-icon>
        <ion-icon color="danger" *ngIf="feed?.love" name="heart-sharp" (click)="setLove()"></ion-icon>
        <ion-icon *ngIf="feed?.linkType===1" color="secondary" name="logo-instagram" (click)="accessUrl()"></ion-icon>
        <ion-icon *ngIf="feed?.linkType===2" color="secondary" name="logo-youtube" (click)="accessUrl()"></ion-icon>
        <ion-icon *ngIf="feed?.linkType===3" color="secondary" name="link-outline" (click)="accessUrl()"></ion-icon>
        <ion-icon *ngIf="feed?.linkType===4" color="secondary" name="logo-whatsapp" (click)="goToWhatsapp()"></ion-icon>
        <ion-note color="primary">{{feed?.date | dateAgo}}</ion-note>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div [ngClass]="{ 'short-message': !expandAll, 'complete-message': expandAll}">
        <strong>{{feed?.title}}</strong> {{ feed?.message
        }}
      </div>
      <ion-item lines="none" *ngIf="feed?.message?.length>100">
        <p class="p-as-a-link" (click)="showCompleteMessage()">{{expandAll ? 'MENOS': 'MAIS...'}}</p>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>