<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-icon name="arrow-undo-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-item class="header" lines="none">
      <ion-label color="light">REGISTRAR ENTRADA/SAÍDA</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="none" class="input">
              <ion-label position="floating">*Valor: R$</ion-label>
              <ion-input type="text" #inputAmount placeholder="Digite o valor" [value]="value"
                [brmasker]="{money: true, thousand: '.',  decimalCaracter: ','}">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">
              <ion-label>*Tipo </ion-label>
              <ion-select [value]="caixa?.caixaType?.id" interface="popover" (ionChange)="setType($event)">
                <ion-select-option [value]="item?.id" *ngFor="let item of caixaTypes">{{item?.name | uppercase}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <ion-item lines="none" [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">
              <ion-radio-group (click)="setIsEntry($event)" [value]="isEntry" [allowEmptySelection]="false">
                <ion-item lines="none">
                  <ion-label>Entrada</ion-label>
                  <ion-radio slot="start" value="1"></ion-radio>
                </ion-item>

                <ion-item lines="none">
                  <ion-label>Saída</ion-label>
                  <ion-radio slot="start" value="0"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-col>
    <ion-col>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="none" class="separated-date">
              <ion-item lines="none"
                [ngClass]="{'large-input-date ': !isSmallDevice, 'small-input-date':isSmallDevice}">
                <ion-button color="light" (click)="openDay($event)">
                  <label>Dia: {{day}}</label>
                </ion-button>
              </ion-item>


              <ion-button color="light" id="popover-button-month">
                <label color="primary">{{customizedMonth?.name}}/{{year}}</label>
              </ion-button>

              <ion-popover trigger="popover-button-month" [dismissOnSelect]="false">
                <ng-template>
                  <ion-content>
                    <ion-datetime [showDefaultButtons]="true" [value]="monthYear" presentation="month-year"
                      display-format="MM-YYYY" #timeMonth (ionChange)="onSelectMonth(timeMonth.value)" doneText="OK"
                      cancelText="CANCELAR">
                    </ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-textarea rows="10" cols="5" type="text" #inputAmount
                placeholder="Aqui você pode escrever algo importante sobre esse registro...(Obrigatório para saídas)">
              </ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-col>
  </ion-row>


</ion-grid>


<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-button expand="block" color="medium" (click)="register(inputAmount.value)">{{isNew ?
      'REGISTRAR':'ALTERAR'}}</ion-button>
  </ion-toolbar>
</ion-footer>
