<ion-buttons slot="start" (click)="back()" class="button-back">
  <ion-icon color="primary" name="arrow-undo-circle-outline"></ion-icon>
</ion-buttons>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-grid>

        <ion-row>
          <ion-col>
            <app-my-select-list [label]="'*Grupo'" [listName]="'groups'" [create]="true"
              (selectEmiter)="setGroup($event)"></app-my-select-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-my-select-list [label]="'*Tipo'" [listName]="'types'" [create]="true"
              (selectEmiter)="setType($event)"></app-my-select-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-my-select-list [label]="'Organização'" [listName]="'churches'" [create]="true"
              (selectEmiter)="setChurch($event)"></app-my-select-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <app-my-select-list [label]="'Usuario'" [listName]="'users'" [create]="true"
              (selectEmiter)="setUser($event)"></app-my-select-list>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-col>
    <ion-col>
      <ion-grid>
        <ion-row>

          <ion-col>
            <ion-item lines="none" class="input">
              <ion-label position="floating">*Valor: R$</ion-label>
              <ion-input type="text" maxlength="15" #inputAmount placeholder="Digite o valor" [value]="value"
                [brmasker]="{money: true, thousand: '.',  decimalCaracter: ','}">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-label>Selecione uma data</ion-label>

            <ion-item id="popover-button-month" lines="none" class="input" detail>
              <ion-label>{{caixa?.date | date:'dd/MM/yyyy'}}</ion-label>
            </ion-item>

            <ion-popover trigger="popover-button-month" [dismissOnSelect]="false">
              <ng-template>
                <ion-content>
                  <ion-datetime [showDefaultButtons]="true" presentation="date" display-format="MM-YYYY-DD" #timeMonth
                    (ionChange)="onSetDate(timeMonth.value)" doneText="OK" cancelText="CANCELAR">
                  </ion-datetime>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <textarea inputmode="text" wrap="hard" maxlength="500" [(ngModel)]="caixa.description"
              placeholder="Aqui você pode escrever algo importante sobre esse registro...(Obrigatório para saídas)">
            </textarea>

            <ion-item lines="none">
              <ion-note slot="end">{{caixa.description?.length}}/500</ion-note>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="success" (click)="register(inputAmount.value)">{{isNew ?
              'REGISTRAR':'ALTERAR'}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-col>
  </ion-row>


</ion-grid>
