<ion-item class="item-page-title">
  <ion-icon color="primary" name="chevron-back-circle-sharp" (click)="back()"></ion-icon>
  <ion-title>{{localPageTitle}}</ion-title>
</ion-item>
<div class="flex-container">

  <div class="amount-label">
    <ion-label position="floating">*Digite o valor</ion-label>
  </div>
  <ion-item lines="none" class="input-amount">
    <ion-label>R$ </ion-label>
    <ion-input type="text" maxlength="15" #inputAmount [value]="value"
      [brmasker]="{money: true, thousand: '.',  decimalCaracter: ','}">
    </ion-input>
  </ion-item>

  <div class="open-div" [ngStyle]="{'height': height}" (scroll)="onWindowScroll($event)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="flex-container-row date-options ">
            <ion-icon class="icon-fomat-date" name="calendar-clear-outline"></ion-icon>
            <ion-button color="secondary" (click)="onSetDate(null, 1)"><ion-label>Hoje</ion-label></ion-button>
            <ion-button color="secondary" (click)="onSetDate(null, 2)"><ion-label>Ontem</ion-label></ion-button>
            <ion-button color="secondary" id="popover-button-month"><ion-label>Outro</ion-label></ion-button>
          </div>
          <div class="date-options-label">
            <ion-label>{{caixa?.date | date:'dd/MM/yyyy'}}</ion-label>
          </div>
          <ion-popover trigger="popover-button-month" [dismissOnSelect]="false">
            <ng-template>
              <ion-content>
                <ion-datetime [showDefaultButtons]="true" presentation="date" display-format="MM-YYYY-DD" #timeMonth
                  (ionChange)="onSetDate(timeMonth.value)" doneText="OK" cancelText="CANCELAR">
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>


          <div class="flex-container-row" (click)="setShowDescription()" *ngIf="!showDescription">
            <ion-icon name="reader-outline" class="icon-format"></ion-icon>
            <ion-label class="description-label">DESCRIÇÃO</ion-label>
          </div>
          <div class="flex-container-col" *ngIf="showDescription">
            <textarea inputmode="text" wrap="hard" maxlength="500" [(ngModel)]="caixa.description"
              (blur)="setShowDescription()"
              placeholder="Aqui você pode escrever algo importante sobre esse registro...(Obrigatório para saídas)">
        </textarea>
            <ion-note slot="end">{{caixa.description?.length}}/500</ion-note>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="flex-container-row">
            <ion-icon name="menu-outline" class="icon-format"></ion-icon>
            <app-my-select-list [label]="'*Categoria'" [listName]="'groups'" [create]="true"
              (selectEmiter)="setGroup($event)"></app-my-select-list>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="flex-container-row">
            <ion-icon name="list-outline" class="icon-format"></ion-icon>
            <app-my-select-list [label]="'Sub Categoria'" [listName]="'types'" [create]="true"
              (selectEmiter)="setType($event)"></app-my-select-list>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="flex-container-row">
            <ion-icon name="storefront-outline" class="icon-format"></ion-icon>
            <app-my-select-list [label]="'*Organização'" [listName]="'churches'" [create]="true"
              (selectEmiter)="setChurch($event)"></app-my-select-list>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="flex-container-row">
            <ion-icon name="wallet-outline" class="icon-format"></ion-icon>
            <app-my-select-list [label]="'*Conta'" [listName]="'wallets'" [obj]="wallet"
              (selectEmiter)="setWallet($event)"></app-my-select-list>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="flex-container-row">
            <ion-icon name="document-attach-outline" class="icon-format"></ion-icon>

            <input type='file' ng2FileSelect [uploader]="uploader" (onFileSelected)="onSelectFile()" />
          </div>
        </ion-col>
      </ion-row>




      <ion-row>
        <ion-col>

        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab-button class="confirm-button" (click)="register(inputAmount.value)" [color]="buttonColor">
      <ion-icon name="checkmark-sharp"></ion-icon>
    </ion-fab-button>
  </div>

</div>