.lb-church-schedule-title {
  font-family: Qanelas-bold;
  font-size: 16pt;
  color: var(--ion-color-dark);
}

@media screen and (max-width: 500px) {
  ion-grid {
    width: 100%;
  }
  .church-schedule-img-short {
    width: 350px;

    ion-img {
      margin-left: 10px;
      width: 90%;
      height: 300px;
    }
  }
  .church-schedule-img-large {
    width: 360px;
    ion-img {
      margin-left: 10px;
      width: 90%;
      height: 300px;
    }
  }
}

.complete-message {
  width: 90%;
  max-height: auto;
  font-size: 12pt;
  font-family: Qanelas;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
}
.headers-reactions {
  ion-label {
    font-family: Qanelas;
    font-size: 10pt;
    color: var(--ion-color-dark);
    text-align: center;
  }
}

ion-card-title {
  font-family: Qanelas-bold;
  font-size: 18pt;
  color: var(--ion-color-medium);
}
