<ion-grid>
  <ion-row *ngFor="let scheduleTime of churchSchedule?.scheduleTimes">
    <ion-col>
      <ion-item lines="none">
        <ion-label slot="start">{{scheduleTime?.day}}</ion-label>
        <ion-label slot="end" *ngIf="scheduleTime?.hasTime">{{scheduleTime?.time}}</ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-icon [ngClass]="{'hidde-menu':!permission}" (click)="menuPost(churchSchedule, $event)"
        name="ellipsis-vertical-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="complete-message">{{ churchSchedule?.message }}</div>
    </ion-col>
  </ion-row>
</ion-grid>
