<ion-spinner *ngIf="is_loading" name="bubbles"></ion-spinner>
<div class="div-body" *ngIf="!is_loading">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label position="floating">Título</ion-label>
        <ion-textarea (keyup)="onTypeTitle($event)" maxlength="120" [value]="feed?.title" class="item-input"
          placeholder="Digite o título da publicação"></ion-textarea>
        <ion-note>{{ feed?.title?.length ? feed?.title?.length : 0}} / 120 caracteres</ion-note>
      </ion-col>
    </ion-row> <ion-row>
      <ion-col>
        <ion-label position="floating">URL da postagem</ion-label>
        <ion-textarea (keyup)="onTypeUrl($event)" maxlength="255" [value]="feed?.url" class="item-input"
          placeholder="Cole aqui a URL da postagem"></ion-textarea>
        <ion-note>{{ feed?.url?.length ? feed?.url?.length : 0}} / 255 caracteres</ion-note>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="floating">Legenda</ion-label>
        <ion-textarea (keyup)="onTypeMessage($event)" maxlength="500" cols="10" rows="10" class="item-input"
          [value]="feed?.message" placeholder="Digite aqui sua legenda"></ion-textarea>
        <ion-note>{{ feed?.message?.length ? feed?.message?.length : 0}} / 500 caracteres</ion-note>
      </ion-col>
    </ion-row>
  </ion-grid>