<div *ngIf="is_loading" class="progress_bar_waitting_redirect">
  <ion-spinner name="dots"></ion-spinner>

  <ion-label>Aguarde um instante</ion-label>

  <ion-spinner name="dots"></ion-spinner>
</div>
<ion-item lines="none">

  <ion-icon *permission="'counselor'" color="tertiary" slot="end" name="settings-outline"
    (click)="setPlan()"></ion-icon>
</ion-item>

<div class="options-dashboard" [ngStyle]="{'width': width}" *ngIf="selectedProgram">
  <ion-grid>
    <ion-row>
      <ion-col [ngStyle]="{'width': width}" class="div-slide-bibleprogram">
        <div class="div-months">
          <p (click)="gotoBeforeSlide()"><label *ngIf="before>=0">{{ monthSlide[before]?.abbreviation
              | uppercase}}</label></p>
          <p>{{ monthSlide[selectedMonth]?.abbreviation | uppercase}}</p>
          <p (click)="gotoNextSlide()"><label *ngIf="next>=0">{{ monthSlide[next]?.abbreviation |
              uppercase}}</label></p>
        </div>
        <div>
          <ion-slides [ngStyle]="{'width': width}" (ionSlideWillChange)="onScroll(monthSlides)" #monthSlides>
            <ion-slide class="slide" *ngFor="let programMonth of selectedProgram?.program">
              <div class="div-slide-challenge-month" *ngIf="programMonth?.customizedMonth?.id">
                <div class="indicator"></div>

                <div class="div-slide-challenge-month-header">
                  <div>
                    <ion-label
                      [ngClass]="{'lb-selected-week': selectedVerseDay?.id===verseDay?.id, 'isRead':verseDay?.isRead, 'label-up':true}"
                      (click)="setSelectedDay(verseDay)"
                      *ngFor="let verseDay of selectedProgramMonth?.verses">{{verseDay?.day}}</ion-label>
                  </div>
                </div>

                <ion-item (click)="setAsReadUnread(selectedVerseDay)" lines="none" class="item-challenge-done">
                  <ion-checkbox [checked]="selectedVerseDay?.isRead"></ion-checkbox>
                  <ion-label>Marcar como concluído</ion-label>
                </ion-item>
                <div class="bible-text" (click)="copy()">
                  <ion-note slot="end">Leitura do dia {{selectedVerseDay?.day}} de
                    {{selectedProgramMonth?.customizedMonth?.name}}</ion-note>
                  <ion-text alt="Click uma vez para copiar o texto" slot="start" class="lb-challenge-description">
                    {{selectedVerseDay?.startVerse?.book.name}}
                    {{selectedVerseDay?.startVerse?.chapter}}:{{selectedVerseDay?.startVerse?.verse}} Até
                    {{selectedVerseDay?.endVerse?.book.name}}
                    {{selectedVerseDay?.endVerse?.chapter}}:{{selectedVerseDay?.endVerse?.verse}}
                  </ion-text>
                  <ion-list fill="outline">

                    <ion-icon class="bible-read" name="book-outline" (click)="readVerses()"></ion-icon>
                    <br>
                    <ion-note>Ler Agora</ion-note>
                  </ion-list>
                </div>
              </div>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</div>