<div *ngIf="is_loading" class="progress_bar_waitting_redirect">
  <ion-spinner name="dots"></ion-spinner>

  <ion-label>Aguarde um instante</ion-label>

  <ion-spinner name="dots"></ion-spinner>
</div>
<ion-item *permission="'counselor'" lines="none" (click)="setPlan()">
  <ion-icon color="tertiary" slot="end" name="settings-outline"></ion-icon>

</ion-item>
<div class="options-dashboard" [ngStyle]="{'width': width}">
  <ion-grid>
    <ion-row>
      <ion-col [ngStyle]="{'width': width}" class="div-slide-bibleprogram">
        <div class="div-months">
          <p (click)="gotoBeforeSlide()">{{ monthSlide[before]?.abbreviation | uppercase}}</p>
          <p>{{ monthSlide[selectedMonth]?.abbreviation | uppercase}}</p>
          <p (click)="gotoNextSlide()">{{ monthSlide[next]?.abbreviation | uppercase}}</p>
        </div>
        <div>
          <ion-slides [ngStyle]="{'width': width}" (ionSlideWillChange)="onScroll(monthSlides)" #monthSlides>
            <ion-slide class="slide" *ngFor="let programMonth of selectedProgram?.program">
              <div class="div-slide-challenge-month" *ngIf="programMonth?.customizedMonth?.id">
                <div class="indicator"></div>

                <div class="div-slide-challenge-month-header">
                  <div>
                    <ion-label [ngClass]="{'lb-selected-week': selectedDay===(i+1), 'isRead':verseDay?.isRead}"
                      (click)="setSelectedDay(verseDay)"
                      *ngFor="let verseDay of selectedProgramMonth?.verses; let i=index">{{verseDay?.day}}</ion-label>
                  </div>
                </div>

                <ion-item (click)="setAsReadUnread(selectedVerseDay)" lines="none" class="item-challenge-done">
                  <ion-checkbox [checked]="selectedVerseDay?.isRead"></ion-checkbox>
                  <ion-label>Marcar como concluído</ion-label>

                </ion-item>
                <div class="bible-text" (click)="copy()">
                  <ion-note slot="end">Leitura do dia {{selectedVerseDay?.day}} de
                    {{selectedProgramMonth?.customizedMonth?.name}}</ion-note>
                  <ion-text alt="Click uma vez para copiar o texto" slot="start"
                    class="lb-challenge-description">{{selectedVerseDay?.startVerse?.book}}
                    {{selectedVerseDay?.startVerse?.chapter}}:{{selectedVerseDay?.startVerse?.verse}}/{{selectedVerseDay?.endVerse?.book}}
                    {{selectedVerseDay?.endVerse?.chapter}}:{{selectedVerseDay?.endVerse?.verse}}</ion-text>
                  <ion-list (click)="readVerses()" fill="outline">

                    <ion-icon name="book-outline"></ion-icon>
                    <br>
                    <ion-note>Ler Agora</ion-note>
                  </ion-list>
                </div>
              </div>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</div>
