<ion-item class="item-page-title">
  <ion-icon color="primary" name="chevron-back-circle-sharp" (click)="back()"></ion-icon>
  <ion-title>{{localPageTitle}}</ion-title>
</ion-item>


<div class="open-div" #mainDiv [ngStyle]="{'height': height}" (scroll)="onWindowScroll($event)">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-fab-button size="small" slot="end" (click)="setLetterSize(false)">
            <ion-label>A</ion-label>
            <ion-icon name="remove-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button size="small" slot="end" (click)="setLetterSize(true)">
            <ion-label>A</ion-label>
            <ion-icon name="add-outline"></ion-icon>
          </ion-fab-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of verseDayTree; let bokPosition=index">
      <ion-col>
        <ion-item lines="none">
          <ion-text [ngStyle]="{'font-size': letterSizeBook}" class="book">{{item?.book}}</ion-text>
        </ion-item>
        <ion-grid>
          <ion-row *ngFor="let chapter of item?.chapters; let chapterPosition=index">
            <ion-col>
              <ion-text [ngStyle]="{'font-size': letterSizeCap}" class="chapter">Capítulo
                {{chapter?.chapter}}</ion-text>
              <ion-grid>
                <ion-row *ngFor="let verse of chapter?.verses; let versePosition=index">
                  <ion-col class="col-verses" [id]="verse?.id" (click)="pressMark(verse)"
                    [ngStyle]="{'background-color':verse?.userVerseMark?.color, 'font-size': letterSize}"
                    [ngClass]="{'white-text':checkWhiteText(verse)}">
                    <ion-text class="verse">
                      <strong>{{verse?.verse}}</strong> {{verse?.text}}</ion-text>
                    <ion-icon *ngIf="(verse?.userVerseMark?.comment?.length>0)"
                      name="chatbox-ellipses-outline"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="set-as-read">
        <ion-item (click)="setAsReadUnread()" lines="none">
          <ion-checkbox [checked]="verseDay?.isRead"></ion-checkbox>
          <ion-label>Marcar como Lido</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="last-row">
      <ion-col>

        <ion-item lines="none" class="item-challenge-done">
          <ion-fab-button slot="start" (click)="backVerse()">
            <ion-icon name="chevron-back-circle-outline"></ion-icon>
          </ion-fab-button>

          <ion-fab-button slot="end" (click)="nextVerse()">
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </ion-fab-button>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>




</div>