<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-icon color="primary" name="chevron-back-circle-sharp"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="help-sharp" (click)="showTutorial($event)"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label class="header" lines="none">
        {{verseDay?.startVerse?.book}}
        {{verseDay?.startVerse?.chapter}}:{{verseDay?.startVerse?.verse}} Até {{verseDay?.endVerse?.book}}
        {{verseDay?.endVerse?.chapter}}:{{verseDay?.endVerse?.verse}}
      </ion-label>
    </ion-item>

  </ion-toolbar>
</ion-header>
<div class="open-div" [ngStyle]="{'height': height}" (scroll)="onWindowScroll($event)">
  <ion-grid>
    <ion-row *ngFor="let item of verseDayTree; let bokPosition=index">
      <ion-col>
        <ion-item lines="none">
          <ion-text [ngStyle]="{'font-size': letterSizeBook}" class="book">{{item?.book}}</ion-text>
        </ion-item>
        <ion-grid>
          <ion-row *ngFor="let chapter of item?.chapters; let chapterPosition=index">
            <ion-col>
              <ion-text [ngStyle]="{'font-size': letterSizeCap}" class="chapter">Capítulo
                {{chapter?.chapter}}</ion-text>
              <ion-grid>
                <ion-row *ngFor="let verse of chapter?.verses; let versePosition=index">
                  <ion-col lass="col-verses" appLongPressAction [verse]="verse">
                    <ion-text class="verse"
                      [ngStyle]="{'background-color':verse?.userVerseMark?.color, 'font-size': letterSize}"
                      [ngClass]="{'white-text':checkWhiteText(verse)}">
                      <strong>{{verse?.verse}}</strong> {{verse?.text}}</ion-text>
                    <ion-icon *ngIf="(verse?.userVerseMark?.comment?.length>0)"
                      name="chatbox-ellipses-outline"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" class="float-icon">
    <ion-fab-button>
      <ion-icon name="text-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="setLetterSize(false)">
        <ion-label>A</ion-label>
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="setLetterSize(true)">
        <ion-label>A</ion-label>
        <ion-icon name="caret-up-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</div>
