<ion-item class="item-page-title">
  <ion-icon color="primary" name="chevron-back-circle-sharp" (click)="back()"></ion-icon>
</ion-item>

<ion-item color="secondary" class="item-choose-label">
  <ion-icon name="information-circle-outline"></ion-icon>
  <ion-label>Escolha o que deseja acessar</ion-label>
</ion-item>
<ion-grid>
  <ion-row>
    <ion-col class="card-options">
      <ion-item (click)="selectOption('2')" lines="none">
        <ion-img alt="Erro ao carregar imagem" src="./assets/images/feed-register-admin.png"></ion-img>
      </ion-item>
    </ion-col>
    <ion-col class="card-options">
      <ion-item (click)="selectOption('4')" lines="none">
        <ion-img alt="Erro ao carregar imagem" src="./assets/images/feed-admin.png"></ion-img>
      </ion-item>
    </ion-col>
    <ion-col class="card-options">
      <ion-item lines="none">
        <ion-img alt="Erro ao carregar imagem" src="./assets/images/cronogram-service-admin.png"></ion-img>
      </ion-item>
    </ion-col>


  </ion-row>
</ion-grid>