<ion-spinner name="bubbles" *ngIf="is_loading"></ion-spinner>

<div class="div-body" *ngIf="!is_loading">



  <ion-grid *ngIf="!is_loading">
    <ion-row *ngIf="!showLoadEditImage">
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-avatar class="div-avatar">
                <img [src]="user?.image" />
              </ion-avatar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none" color="light" class="edit-image-buttons">
                <ion-button fill="clear" color="warning" (click)="setshowLoadEditImage()">alterar</ion-button>
                <ion-button fill="clear" color="danger" (click)="deleteImage()">deletar</ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-load-images *ngIf="showLoadEditImage" [single]="true" (returnPage)="receiveSubpage($event)"
          [confirmButton]="true"></app-load-images>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!showLoadEditImage">
      <ion-col>
        <ion-item lines="none" color="light" class="control-buttons">
          <ion-button (click)="cancel()" color="danger">
            <ion-icon name="close-circle-outline"></ion-icon>
            <ion-label>CANCELAR</ion-label>
          </ion-button>
          <ion-button (click)="update()" color="success">
            <ion-icon name="save-outline"></ion-icon>
            <ion-label>SALVAR</ion-label>
          </ion-button>
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row *ngIf="!showLoadEditImage">
      <ion-col>
        <ion-item lines="none" [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">
          <ion-label position="floating">*NOME</ion-label>
          <ion-input [(ngModel)]="user.name"></ion-input>
        </ion-item>

        <ion-item lines="none" [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">
          <ion-label position="floating">*FONE</ion-label>
          <ion-input [(ngModel)]="user.contact.phone1" [brmasker]="{phone: true}"></ion-input>
        </ion-item>

        <ion-item lines="none" [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">
          <ion-label position="floating">Profissão </ion-label>
          <ion-input placeholder="Com o que trabalha (Opcional)" type="text" [(ngModel)]="user.occupation"></ion-input>
        </ion-item>


        <ion-list lines="none" [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">
          <ion-item lines="none">
            <ion-label>Data de Nascimento: {{user.birthDate | date: 'dd/MM/yyyy'}}</ion-label>

          </ion-item>

          <ion-item>
            <ion-item lines="none">
              <ion-button fill="clear" (click)="openDay($event)" expand="full">
                <label>Dia: {{day}}</label>
              </ion-button>
            </ion-item>
            <ion-item lines="none">
              <ion-button fill="clear" id="popover-button-month" expand="block">
                <label>Mês/Ano: {{monthYear | date: 'MM/yyyy'}}</label>
              </ion-button>

              <ion-popover trigger="popover-button-month" [dismissOnSelect]="false">
                <ng-template>
                  <ion-content>
                    <ion-datetime [showDefaultButtons]="true" presentation="month-year" display-format="MM-YYYY"
                      #timeMonth (ionChange)="onSelectMonth(timeMonth.value)" doneText="OK" cancelText="CANCELAR">
                    </ion-datetime>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-item>
          </ion-item>
        </ion-list>
        <ion-list lines="none" [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">
          <ion-item>
            <ion-label>*Já é Batizado? </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-radio-group (click)="setIsBaptized($event)" [value]="user?.isBaptized" [allowEmptySelection]="false">
              <ion-item lines="none">
                <ion-radio slot="start" value="0"></ion-radio>
                <ion-label>Não</ion-label>
              </ion-item>

              <ion-item lines="none">
                <ion-radio slot="start" value="1"></ion-radio>
                <ion-label>Sim</ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-item>
        </ion-list>

        <ion-item lines="none" [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">

          <ion-radio-group (click)="setGender($event)" [value]="user?.gender" [allowEmptySelection]="false">
            <ion-item lines="none">
              <ion-label>Masc.</ion-label>
              <ion-radio slot="start" value="masculino"></ion-radio>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Femi.</ion-label>
              <ion-radio slot="start" value="feminino"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-item>

        <ion-item [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">
          <ion-label>*Qual seu estado civil? </ion-label>
          <ion-select [value]="user?.maritalStatus.id" [selectedText]="user?.maritalStatus?.name" interface="popover"
            (ionChange)="setMaritalStatus($event)">
            <ion-select-option [value]="item?.id" *ngFor="let item of maritalStatuses">{{item?.name | uppercase}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">
          <ion-label>*Como veio para a igreja? </ion-label>
          <ion-select [value]="user?.inputMethod?.id" [selectedText]="user?.inputMethod?.name" interface="popover"
            (ionChange)="setInputMethod($event)">
            <ion-select-option [value]="item?.id" *ngFor="let item of inputMethods">{{item?.name | uppercase}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">
          <ion-label>*Onde frequenta? </ion-label>
          <ion-select [value]="user?.church?.id" [selectedText]="user?.church?.name" interface="popover"
            (ionChange)="setChurch($event)">
            <ion-select-option [value]="item?.id" *ngFor="let item of churches">{{item?.name | uppercase}}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">
          <ion-label position="floating">*E-MAIL</ion-label>
          <ion-input [(ngModel)]="user.email"></ion-input>
        </ion-item>



        <ion-item [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">
          <ion-label position="floating">*LOGRADOURO</ion-label>
          <ion-input [value]="user?.contact?.street" (keyup)="onSetAddress($event, 1)">
          </ion-input>
        </ion-item>

        <ion-item [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">
          <ion-label position="floating">NUMERO</ion-label>
          <ion-input [value]="user?.contact?.hauseNumber" (keyup)="onSetAddress($event, 2)">
          </ion-input>
        </ion-item>

        <ion-item [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">
          <ion-label position="floating">*BAIRRO</ion-label>
          <ion-input [value]="user?.contact?.district" (keyup)="onSetAddress($event, 3)">
          </ion-input>
        </ion-item>


        <ion-item [ngClass]="{'input': !isSmallDevice, 'input-small':isSmallDevice}">
          <ion-label position="floating">COMPLEMENTO</ion-label>
          <ion-input [value]="user?.contact?.complement" (keyup)="onSetAddress($event, 4)">
          </ion-input>
        </ion-item>


      </ion-col>
    </ion-row>
  </ion-grid>


</div>