.div-body {
  background: white;
  width: 100%;
  min-height: 80px;
  margin-bottom: 10px;
}
ion-icon {
  font-size: 100px;
}
.lb-input {
  font-family: Qanelas-bold;
  color: var(--ion-color-secondary);
}
.drop-zone {
  background-color: #f6f6f6;
  border: dotted 3px var(--ion-color-secondary);
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

//LEFT SIDE
.selected-image {
  border: 2px solid var(--ion-color-secondary);
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

.div-drop-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 2px solid var(--ion-color-secondary);
  border-radius: 10px;
  width: 100%;
  min-height: 300px;
  div {
    display: flex;
    justify-content: center;
    ion-icon {
      font-size: 60px;
    }
  }
  ion-label {
    margin-top: 5px;
    font-size: 10px;
    color: var(--ion-color-medium);
    font-family: Qanelas;
  }
  label {
    background-color: var(--ion-color-secondary);
    border-radius: 2px;
    text-align: center;
    ion-label {
      font-size: 8pt;
      color: var(--ion-color-light);
      font-family: Qanelas;
    }
  }
  input[type="file"] {
    display: none;
  }
}

.nv-file-over {
  border: dotted 3px var(--ion-color-success);
}
