<ion-spinner *ngIf="is_loading" name="bubbles"></ion-spinner>
<div class="div-body" *ngIf="!is_loading">
  <ion-grid *ngIf="session===1">
    <ion-row>
      <ion-col>
        <ion-item class="input">
          <ion-label position="floating">TÍTULO</ion-label>
          <ion-input placeholder="Digite o título da publicação" [value]="churchSchedule?.title"
            (keyup)="onTypeTitle(inputTitle.value)" #inputTitle placeholder="Digite o título da publicação"
            type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-my-select-list [label]="'Organização'" [listName]="'churches'" [selected]="churchSchedule?.church?.name"
          [create]="true" (selectEmiter)="setChurch($event)"></app-my-select-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-my-select-list [label]="'Tipo'" [listName]="'churchScheduleTypes'" [create]="true"
          [selected]="churchSchedule?.churchScheduleType?.name"
          (selectEmiter)="setChurchScheduleType($event)"></app-my-select-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>DIAS e HORÁRIOS</ion-label>
          <ion-button fill="outline" (click)="addScheduleTime()" expand="block">
            <ion-label>Add HORÁRIO</ion-label>
          </ion-button>
          <!-- <ion-icon name="add-circle-outline"*permission="'multimidia'"></ion-icon> -->
        </ion-item>
        <ion-item lines="none" *ngIf="churchSchedule.scheduleTimes.length<=0">
          <ion-note color="primary">Nenhum Horário</ion-note>
        </ion-item>
        <ion-grid *ngIf="churchSchedule.scheduleTimes.length>0">
          <ion-row *ngFor="let scheduleTime of churchSchedule.scheduleTimes; let i=index">
            <ion-col size="1">
              <ion-icon name="trash-sharp" color="danger" (click)="deleteTime(i)"></ion-icon>
            </ion-col>
            <ion-col>
              <ion-item class="input">
                <ion-label>Dia da semana </ion-label>
                <ion-select [value]="scheduleTime?.day" interface="popover" (ionChange)="onSelectDayOfWeek($event,i)">
                  <ion-select-option [value]="item" *ngFor="let item of daysOfWeek">{{item | uppercase}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <div class="div-time">
                <ion-item class="input">
                  <ion-label position="floating">Hora</ion-label>
                  <ion-input [disabled]="!scheduleTime?.hasTime" [value]="scheduleTime?.time"
                    (keyup)="setTime(inputTime?.value,i)" type="text" placeholder="HH:MM" #inputTime
                    [brmasker]="{mask:'00:00', type:'num', len:5}"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-checkbox [checked]="!scheduleTime?.hasTime" (ionChange)="setTimeExists(i)"></ion-checkbox>
                  <ion-label>Sem horário</ion-label>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="floating">Menssagem</ion-label>
        <ion-textarea (keyup)="onTypeMessage($event)" cols="10" rows="10" [value]="churchSchedule?.message"
          placeholder="O que você está fazendo? Conta pra gente!"></ion-textarea>
        <ion-note>{{ churchSchedule?.message?.length ? churchSchedule?.message?.length : 0}} / 10000
          caracteres</ion-note>

      </ion-col>
    </ion-row>


  </ion-grid>
