<ion-spinner *ngIf="is_loading" name="bubbles"></ion-spinner>
<div class="div-body" *ngIf="!is_loading">
  <ion-grid *ngIf="session===1">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Título</ion-label>
          <ion-input placeholder="Digite o título da publicação" [value]="churchSchedule?.title"
            (keyup)="onTypeTitle(inputTitle.value)" #inputTitle placeholder="Digite o título da publicação"
            type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-my-select-list [label]="'Organização'" [listName]="'churches'" [create]="true"
          (selectEmiter)="setChurch($event)"></app-my-select-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Dias e Horários</ion-label>
          <ion-icon name="add-circle-outline" (click)="addScheduleTime()" *permission="'multimidia'"></ion-icon>
        </ion-item>
        <ion-grid>
          <ion-row *ngFor="let scheduleTime of churchSchedule.scheduleTimes; let i=index">
            <ion-col>
              <ion-item>
                <ion-label>Dia da semana </ion-label>
                <ion-select [value]="scheduleTime?.day" interface="popover" [(ngModel)]="scheduleTime.day">
                  <ion-select-option [value]="item" *ngFor="let item of daysOfWeek">{{item | uppercase}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <div class="div-time">
                <ion-item>
                  <ion-label position="floating">Hora</ion-label>

                  <ion-input [disabled]="!scheduleTime?.hasTime" [value]="scheduleTime?.time"
                    (keyup)="setTime(inputTime?.value,i)" type="text" placeholder="HH:MM" #inputTime
                    [brmasker]="{mask:'00:00', type:'num', len:5}"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-checkbox [checked]="!scheduleTime?.hasTime" (ionChange)="setTimeExists(i)"></ion-checkbox>
                  <ion-label>Sem horário</ion-label>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label position="floating">Menssagem</ion-label>
        <ion-textarea (keyup)="onTypeMessage($event)" cols="10" rows="10" [value]="churchSchedule?.message"
          placeholder="O que você está fazendo? Conta pra gente!"></ion-textarea>
        <ion-note>{{ churchSchedule?.message?.length ? churchSchedule?.message?.length : 0}} / 10000
          caracteres</ion-note>

      </ion-col>
    </ion-row>


  </ion-grid>
