.input {
  width: 80%;
  border-radius: 20px;
  border-bottom: 1px solid var(--ion-color-tertiary);
  margin-left: 10%;
  padding: 2px;
}

ion-button {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
