.ng-invalid.ng-touched:not(form) {
  border-bottom: 1px solid red;
}

.item-page-title {
  font-family: Qanelas;
  font-size: 14pt;
  color: var(--ion-color-primary);
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  height: 200px;
  border: 1px dotted var(--ion-color-tertiary);
  border-radius: 10px;
  text-align: justify;
  font-family: Qanelas-bold;
}

ion-grid {
  background-color: var(--ion-color-secondary);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height: 80%;
  width: 98%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  width: 100%;
}

.grid-body-row {
  display: grid;
  grid-template-columns: 60px 200px;
  align-content: center;
  width: 100%;

  div {
    text-align: center;
  }
}

.churchOk {
  color: var(--ion-color-primary);
  text-align: center;
}

.churchNotOk {
  color: var(--ion-color-danger);
  text-align: center;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 100%;
}
.description-label {
  font-size: 12pt;
  font-family: Qanelas;
  color: var(--ion-color-light);
  margin-left: 10px;
}
.icon-format {
  font-size: 40px;
  color: var(--ion-color-light);
}
.icon-fomat-date {
  font-size: 40px;
  color: var(--ion-color-light);
  margin-top: 2%;
  margin-right: 5%;
}

.amount-label {
  width: 200px;
  margin-top: 20px;
  ion-label {
    font-family: Qanelas-bold;
    color: var(--ion-color-primary);
    font-size: 12pt;
    margin: 5%;
  }
}
.date-options {
  ion-label {
    font-family: Qanelas-bold;
    color: var(--ion-color-light);
  }
}

.date-options-label {
  text-align: center;

  ion-label {
    font-family: Qanelas-bold;
    color: var(--ion-color-light);
    margin: 5%;
  }
}

.input-amount {
  --border-radius: 20px;
  ion-label {
    font-size: 24pt;
    font-family: Qanelas-bold;
    color: var(--ion-color-primary);
    margin: 5px;
  }
  ion-input {
    --color: var(--ion-color-primary);
    --placeholder-color: var(--ion-color-primary);
    --font-size: 28pt;
    --font-family: Qanelas-bold;
  }
}
ion-grid {
  z-index: 2000;
}
.confirm-button {
  z-index: 2000;
}
@media only screen and (min-width: 500px) {
  ion-grid {
    background-color: var(--ion-color-secondary);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 70%;
    width: 50%;
    position: absolute;
    bottom: 0px;
    left: 25%;
  }

  ion-col {
    display: grid;
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  ion-grid {
    background-color: var(--ion-color-secondary);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 60%;
    width: 98%;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}
