//personalização de info do elemento
.tooltip {
  position: absolute;
  display: flex;
  z-index: 2000;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  height: auto;
  background-color: var(--ion-color-secondary);
  font-size: 8pt;
  color: var(--ion-color-light);
  text-align: right;
  position: absolute;
  right: 20px;
  top: -20px;
  z-index: 2000;
  padding: 10px 0px;
  padding-right: 5px;


  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.bubble {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    display: inline-block;
    font: 16px/24px sans-serif;
    // padding: 12px 24px;
    position: relative;
}

/* Criando o triângulo */

.bubble.active:after,
.bubble.active:before {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
    bottom: -15px;
    content: '';
    left: 50%;
    margin-left: -15px;
    position: absolute;
}

/* Criando a borda do triângulo */

.bubble.active:before {
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid;
    border-top-color: inherit;
    bottom: -18px;
    margin-left: -18px;
}