<ion-content>
  <h1>{{user?.name}}</h1>
  <div class="fundo"></div>
    <ion-item class="item-entrar-top" lines="none" button (click)="back()">
      <ion-icon slot="start"  name="arrow-back-outline"></ion-icon>
<ion-label slot="start" class="lb-entrar-top" >LOGIN</ion-label>
        </ion-item>

        <div class="inputs-box">
          <ion-grid>
            <ion-row>
              <ion-col size="10">
<ion-item lines="none">
  <ion-label position="floating"   >Nova Senha</ion-label>
  <ion-input  autofocus="true" (keyup)="checkRoles(nova.value)" #nova [type]="typePassword1" ></ion-input>
</ion-item>
              </ion-col>
              <ion-col size="2">
                  <ion-button  fill="clear" (click)="showPassword(1)">
                   <ion-icon  *ngIf="show1" name="eye-outline"></ion-icon>
                   <ion-icon   *ngIf="!show1" name="eye-off-outline"></ion-icon>
                 </ion-button>
              </ion-col>
            </ion-row>
       
          </ion-grid>
<div disabled>
  <ion-item lines="none"  class="check-item">
    <ion-checkbox [checked]="check1" disabled  ></ion-checkbox>
    <ion-label  [ngClass]="{'lb-checked': check1, 'lb-not-checked': !check1 }">Ter pelo menos uma (01) letra MAIÚSCULA.</ion-label>
  </ion-item> 
  
  <ion-item lines="none"  class="check-item">
    <ion-checkbox [checked]="check2"  disabled    ></ion-checkbox>
    <ion-label  [ngClass]="{'lb-checked': check2, 'lb-not-checked': !check2 }">Ter pelo menos uma (01) letra minúscula.</ion-label>
  </ion-item> 

   <ion-item lines="none" class="check-item">
    <ion-checkbox [checked]="check3"  disabled   ></ion-checkbox>
    <ion-label [ngClass]="{'lb-checked': check3, 'lb-not-checked': !check3 }">Ter pelo menos um (01) número.</ion-label>
  </ion-item> 

   <ion-item lines="none"  class="check-item">
    <ion-checkbox [checked]="check4"  disabled    ></ion-checkbox>
    <ion-label [ngClass]="{'lb-checked': check4, 'lb-not-checked': !check4 }">Ter pelo menos um (01) caractere especial (!@$%&).</ion-label>
  </ion-item> 

   <ion-item lines="none"  class="check-item">
    <ion-checkbox [checked]="check5"  disabled    ></ion-checkbox>
    <ion-label [ngClass]="{'lb-checked': check5, 'lb-not-checked': !check5 }">Tamanho mínimo: Oito (08) caracteres.</ion-label>
  </ion-item>
</div>
  

  <ion-grid>
    <ion-row>
      <ion-col size="10">
<ion-item lines="none">
<ion-label position="floating"   >Confirmar Senha</ion-label>
<ion-input  (keyup.enter)="alterarSenha()"autofocus="true" (ionFocus)="setEditing()" (ionBlur)="setEditing()"  [type]="typePassword1"  [(ngModel)]="senha2"></ion-input>
</ion-item>
      </ion-col>
      <ion-col size="2">
          <ion-button  fill="clear" (click)="showPassword(2)">
            <ion-icon  *ngIf="show2" name="eye-outline"></ion-icon>
            <ion-icon   *ngIf="!show2" name="eye-off-outline"></ion-icon>
          </ion-button>
          
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
  <ion-label class="erro" *ngIf="diferentes" color="danger">Erro: Senhas diferentes</ion-label>

     <ion-button class="btn-redefinir" [disabled]="btnDisable"  expand="block" (click)="alterarSenha()" color="success">REDEFINIR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

</ion-content>