<!-- <ion-grid>
  <ion-row>
    <ion-col>

      <ion-item lines="none" class="separated-date">
        <ion-item lines="none" class="right-input-date ">
          <ion-button fill="clear" id="popover-button-month" expand="block">
            <label>Mês/Ano: {{monthYear | date: 'MM/yyyy'}}</label>
          </ion-button>

          <ion-popover trigger="popover-button-month" [dismissOnSelect]="false">
            <ng-template>
              <ion-content>
                <ion-datetime [showDefaultButtons]="true" presentation="month-year" display-format="MM-YYYY" #timeMonth
                  (ionChange)="onSelectMonth(timeMonth.value)" doneText="OK" cancelText="CANCELAR">
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item lines="none">
        <ion-button slot="end" fill="clear" color="primary" (click)="newCaixa()">
          <ion-label>Cadastrar</ion-label>
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" color="primary" (click)="openFilter()">
          <ion-label>Filtrar</ion-label>
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card class="card-summary" color="tertiary">
        <ion-card-title>DÍZIMOS</ion-card-title>
        <ion-card-subtitle>R$ {{sumary?.titheSummary?.total | currencyBrl}}</ion-card-subtitle>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="card-summary" color="tertiary">
        <ion-card-title>OFERTAS</ion-card-title>
        <ion-card-subtitle>R$ {{sumary?.offerSummary?.total | currencyBrl}}</ion-card-subtitle>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="card-summary" color="tertiary">
        <ion-card-title>OUTROS</ion-card-title>
        <ion-card-subtitle>R$ {{caixaSummary?.total | currencyBrl}}</ion-card-subtitle>
      </ion-card>
    </ion-col>

  </ion-row>
  <ion-row *ngFor="let caixa of sumary?.caixaSummary">
    <ion-col>
      <ion-item lines="none">
        <ion-icon *ngIf="!caixa?.showDetails" name="caret-forward-outline"
          (click)="setShowSummaryDetail(caixa)"></ion-icon>
        <ion-icon *ngIf="caixa?.showDetails" name="caret-down-outline" (click)="setShowSummaryDetail(caixa)"></ion-icon>

        <ion-card-title>{{ caixa?.caixaType?.name}} </ion-card-title>
        <ion-note slot="end">R$ {{caixa?.total | currencyBrl}}</ion-note>
      </ion-item>

      <div [ngClass]="{'ocult-details': !caixa?.showDetails, 'show-details':caixa?.showDetails}">
        <ion-card>
          <ion-grid>
            <ion-row *ngFor="let item of caixa?.caixas">
              <ion-col>
                <ion-item lines="none">
                  <ion-icon *ngIf="!item?.showDetails" name="caret-forward-outline"
                    (click)="setShowCaixaDetail(item, caixa)"></ion-icon>
                  <ion-icon *ngIf="item?.showDetails" name="caret-down-outline"
                    (click)="setShowCaixaDetail(item, caixa)"></ion-icon>

                  <ion-card-title>R$ {{item?.amount | currencyBrl}}</ion-card-title>
                  <ion-note slot="end">{{item?.date | date:'dd/MM/YYYY'}}</ion-note>
                </ion-item>
              </ion-col>

              <div [ngClass]="{'ocult-details': !item?.showDetails, 'show-item-details':item?.showDetails}">
                <table class="table">
                  <tr>
                    <th *ngFor="let item of headCaixaList">{{item}}</th>
                  </tr>
                  <tr>
                    <td>
                      <ion-label>{{item?.user?.name}}</ion-label>
                    </td>
                    <td>
                      <ion-label> {{item?.isEntry? 'Entrada':'Saída'}}</ion-label>
                    </td>
                    <td>
                      <ion-label> {{item?.isEntry?item?.reason:' - '}}</ion-label>
                    </td>
                  </tr>
                </table>
              </div>
            </ion-row>


          </ion-grid>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
</ion-grid> -->
