<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-icon color="primary" name="arrow-undo-circle-outline"></ion-icon>
    </ion-buttons> <ion-buttons slot="end" (click)="doRefresh($event)">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div *ngIf="isLoading" class="spinner">
  <ion-spinner name="dots"></ion-spinner>
  <ion-label>Carregando</ion-label>
  <ion-spinner name="dots"></ion-spinner>
</div>


<ion-grid *ngIf="!isLoading">

  <ion-row>
    <ion-col>
      <ion-card *ngFor="let proram of biblePrograms ">
        <ion-card-header>
          <ion-img src="https://nossaigrejaenseada.files.wordpress.com/2015/08/biblia.jpg"></ion-img>
        </ion-card-header>
        <ion-card-content (click)="openProgram(proram)">
          <ion-card-title>{{ proram?.name }} </ion-card-title>
          <ion-label>Clique aqui para ter acesso ao prorama de leitura</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
