@media only screen and (min-width: 500px) {
  .div-header {
    background-image: url(".../../../../../../assets/images/header.png");
    background-position: 0;
    background-size: 100% 100%;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    .left {
      position: absolute;
      left: 2%;
      top: 55px;
    }

    ion-label {
      color: var(--ion-color-light);
      font-family: Qanelas-bold;
      text-align: center;
      font-size: 12pt;
      word-wrap: break-word;
      margin-top: 2%;
    }
    .right {
      position: absolute;
      right: 5%;
      top: 60px;
    }

    ion-avatar {
      margin-top: 10px;
      max-width: 30px;
      max-height: 30px;
    }

    .hasBorder {
      border: 2px solid var(--ion-color-light);
    }
  }
}

@media only screen and (max-width: 500px) {
  .div-header {
    background-image: url(".../../../../../../assets/images/header.png");
    background-position: 0;
    background-size: 100% 100%;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    .left {
      position: absolute;
      left: 5%;
      top: 8px;
    }

    ion-label {
      color: var(--ion-color-light);
      font-family: Qanelas-bold;
      text-align: center;
      font-size: 12pt;
      word-wrap: break-word;
      margin-top: 5%;
    }
    .right {
      position: absolute;
      right: 5%;
      top: 10px;
    }

    ion-avatar {
      margin-top: 10px;
      max-width: 30px;
      max-height: 30px;
    }

    .hasBorder {
      border: 2px solid var(--ion-color-light);
    }
  }
}
