<ion-content ionScroll="true" #main *ngIf="isLarge">
  <app-admin-large></app-admin-large>
</ion-content>

<ion-content ionScroll="true" #mainSmall *ngIf="!isLarge">
  <div [ngSwitch]="page">
    <app-profile *ngSwitchCase="'0'"></app-profile>
    <app-user-admin *ngSwitchCase="'1'"></app-user-admin>
    <app-more *ngSwitchCase="'2'" (returnPage)="onSelectPage($event)"></app-more>
    <app-tithe *ngSwitchCase="'3'" (sessionPage)="onSelectPage($event)"></app-tithe>
    <app-financy-admin *ngSwitchCase="'4'"></app-financy-admin>
  </div>
</ion-content>
<app-admin-small *ngIf="!isLarge" (selectedPage)="onSelectPage($event)"></app-admin-small>
