<ion-content ionScroll="true" #main *ngIf="isLarge">
  <app-admin-large></app-admin-large>
</ion-content>

<ion-content ionScroll="true" #mainSmall *ngIf="!isLarge">
  <div [ngSwitch]="page">
    <app-bible-program-admin *ngSwitchCase="'0'" [subpage]="'1'"></app-bible-program-admin>
    <app-user-admin *ngSwitchCase="'1'" [subpage]="'1'"></app-user-admin>
    <app-more *ngSwitchCase="'2'" (returnPage)="onSelectPage($event)"></app-more>
    <app-financy-admin *ngSwitchCase="'3'" [subpage]="'0'" (sessionPage)="onSelectPage($event)"></app-financy-admin>
    <app-financy-admin *ngSwitchCase="'4'" [subpage]="'1'" (sessionPage)="onSelectPage($event)"></app-financy-admin>
    <app-bible-program-admin *ngSwitchCase="'5'"></app-bible-program-admin>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
<app-admin-small *ngIf="!isLarge" (selectedPage)="onSelectPage($event)"></app-admin-small>
