<!-- <ion-content ionScroll="true" #main *ngIf="isLarge">
  <app-menu-home-large></app-menu-home-large>
</ion-content> -->

<app-menu-home-small *ngIf="isLarge" (selectedPage)="onSelectPage($event)"></app-menu-home-small>
<app-side-menu *ngIf="!isLarge" (selectedPage)="onSelectPage($event)"></app-side-menu>

<ion-content>

  <div [ngSwitch]="page">
    <app-home-user-register [session]="0" *ngSwitchCase="1"
      (sessionPage)="onSelectPage($event)"></app-home-user-register>
    <app-birthdays *ngSwitchCase="2" (sessionPage)="onSelectPage($event)"></app-birthdays>

    <app-login-admin *ngSwitchCase="3" (sessionPage)="onSelectPage($event)"></app-login-admin>

  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
<!-- <app-menu-home-small *ngIf="!isLarge" (selectedPage)="onSelectPage($event)"></app-menu-home-small> -->