<ion-content ionScroll="true" #main *ngIf="isLarge">
  <app-menu-home-large></app-menu-home-large>
</ion-content>

<ion-content *ngIf="!isLarge">
  <app-home-user-register *ngIf="page===0"></app-home-user-register>
  <app-login *ngIf="page===1"></app-login>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
<app-menu-home-small *ngIf="!isLarge" (selectedPage)="onSelectPage($event)"></app-menu-home-small>
