<div class="flex-container">
  <div class="fundo flex-container">
    <div class="buttons">
      <ion-button fill="outline" type="submit" color="light" (click)="cancel()">
        <ion-label>Cancelar</ion-label>
      </ion-button>
      <ion-button color="light" type="submit" [disabled]="btnDisable" (click)="sendUpdate()">
        <ion-label>Atualizar</ion-label>
      </ion-button>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img alt="Igreaja Batista Nova Betel" class="logo" src="./assets/images/logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="!is_registering">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item class="input">
                  <ion-label position="floating">Nova Senha</ion-label>
                  <ion-icon slot="end" *ngIf="show1" name="eye-outline" (click)="showPassword(1)"></ion-icon>
                  <ion-icon slot="end" *ngIf="!show1" name="eye-off-outline" (click)="showPassword(1)"></ion-icon>
                  <ion-input (keyup)="checkRoles(nova.value)" #nova [type]="typePassword1"></ion-input>
                </ion-item>

              </ion-col>

            </ion-row>

          </ion-grid>
          <div disabled class="inputs-box">
            <div class="check-item">
              <ion-checkbox mode="ios" [checked]="check1" disabled></ion-checkbox>
              <ion-label class="lb-checkbox">01 letra MAIÚSCULA.</ion-label>
            </div>

            <div class="check-item">
              <ion-checkbox mode="ios" [checked]="check2" disabled></ion-checkbox>
              <ion-label class="lb-checkbox">01 letra minúscula.</ion-label>
            </div>

            <div class="check-item">
              <ion-checkbox mode="ios" [checked]="check3" disabled></ion-checkbox>
              <ion-label class="lb-checkbox">01 número.</ion-label>
            </div>

            <div class="check-item">
              <ion-checkbox mode="ios" [checked]="check4" disabled></ion-checkbox>
              <ion-label class="lb-checkbox">01 caractere especial(. @ & # _ $).</ion-label>
            </div>

            <div class="check-item">
              <ion-checkbox mode="ios" [checked]="check5" disabled></ion-checkbox>
              <ion-label class="lb-checkbox">Tamanho mínimo: Oito (08) caracteres.</ion-label>
            </div>
          </div>


          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item class="input">
                  <ion-label position="floating">Confirmar Senha</ion-label>
                  <ion-icon slot="end" *ngIf="show2" name="eye-outline" (click)="showPassword(2)"></ion-icon>
                  <ion-icon slot="end" *ngIf="!show2" name="eye-off-outline" (click)="showPassword(2)"></ion-icon>
                  <ion-input #inputPasswordConfirmation (keyup)="validPassword(inputPasswordConfirmation.value)"
                    (ionFocus)="setEditing()" (ionBlur)="setEditing()" [type]="typepasswordConfirmation">
                  </ion-input>
                </ion-item>
                <ion-label class="erro" *ngIf="diferentes" color="danger">Erro: Senhas diferentes</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>