.input {
  --border-radius: 20px;
  padding: 2px;
}

.input-item {
  border-radius: 20px;
  padding: 2px;
  margin-left: 30%;
  width: 80%;
}

.item-button {
  padding: 2px;
  margin-left: 10%;
  width: 90%;

  ion-button {
    --border-radius: 20px;
    ion-label {
      font-size: 14pt;
      font-family: Qanelas-bold;
    }
  }
}

.align-title {
  text-align: center;
}

.img-item-user {
  height: 100px;
  width: 100px;
}

ion-header {
  ion-toolbar {
    --background: var(--ion-color-tertiary);
  }
  ion-label {
    font-size: 16pt;
    font-weight: 900;
    font-family: Qanelas;
    color: var(--ion-color-light);
  }

  ion-icon {
    font-size: 40px;
  }
}

.ng-invalid.ng-touched:not(form) {
  border-bottom: 1px solid red;
}

@media only screen and (min-width: 500px) {
  .inputs-box {
    margin-left: 10%;
    .check-item {
      ion-label {
        font-family: Qanelas-light;
        margin-left: 5px;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .inputs-box {
    margin-left: 10%;
    .check-item {
      ion-label {
        margin-left: 5px;
        font-size: 12pt;
        font-family: Qanelas-light;
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-col {
  display: grid;
  justify-content: center;
}
@media only screen and (min-width: 500px) {
  .fundo {
    background-image: url("../../../../../assets/images/login-background.png");
    background-repeat: no-repeat;
    background-size: 500px 800px;
    background-position: 50% 100%;
    width: 100%;
    height: 800px;
    position: absolute;
  }

  .logo {
    width: 200px;
    height: 250px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    position: absolute;
    bottom: 10%;
    ion-button {
      width: 150px;
      --border-radius: 10px;
      text-align: center;
      margin: 5px;
    }
  }
  .link {
    font-family: Qanelas-bold;
    color: var(--ion-color-light);
    float: right;
    text-decoration: underline;
    margin-left: 10px;
  }

  .create-account {
    font-family: Qanelas-bold;
    color: var(--ion-color-light);
    position: absolute;
    bottom: 5%;
  }

  .forgot-password {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    ion-label {
      float: right;
      color: var(--ion-color-light);
      margin-left: 50%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .fundo {
    background-image: url("../../../../../assets/images/login-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .logo {
    width: 200px;
    height: 250px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    position: absolute;
    bottom: 10%;
    ion-button {
      width: 150px;
      --border-radius: 10px;
      text-align: center;
      margin: 5px;
    }
  }
  .link {
    font-family: Qanelas-bold;
    color: var(--ion-color-light);
    float: right;
    text-decoration: underline;
    margin-left: 10px;
  }

  .forgot-password {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    ion-label {
      float: right;
      color: var(--ion-color-light);
      margin-left: 50%;
    }
  }

  .create-account {
    font-family: Qanelas-bold;
    color: var(--ion-color-light);
    position: absolute;
    bottom: 5%;
  }
}
