<ion-grid>
  <ion-row>
    <ion-col>
      <ion-breadcrumbs color="medium" *ngIf="wouldShowBrads">
        <ion-breadcrumb [ngClass]="{'selected': session===1}">
          <ion-label>Informações Pessoais</ion-label>
          <ion-icon slot="separator" name="arrow-forward-circle"></ion-icon>
        </ion-breadcrumb>
        <!-- <ion-breadcrumb [ngClass]="{'selected': session===2}">
          <ion-label>Contato</ion-label>
          <ion-icon slot="separator" name="arrow-forward-circle"></ion-icon>
        </ion-breadcrumb> -->
        <ion-breadcrumb [ngClass]="{'selected': session===2}">
          <ion-label>Login</ion-label>
          <ion-icon slot="separator" name="arrow-forward-circle"></ion-icon>
        </ion-breadcrumb>
      </ion-breadcrumbs>

      <div [ngSwitch]="session" class="div-pages">
        <app-register-justification *ngSwitchCase="0" (session)="onReceiveSession($event)"></app-register-justification>
        <app-register-personal-info *ngSwitchCase="1" (session)="onReceiveSession($event)">
        </app-register-personal-info>
        <!-- <app-register-contact *ngSwitchCase="2" (session)="onReceiveSession($event)"></app-register-contact> -->
        <app-register-login *ngSwitchCase="2" (session)="onReceiveSession($event)"></app-register-login>
      </div>


      <ion-fab *ngIf="session>0" vertical="top" horizontal="end" class="float-icon">
        <ion-fab-button (click)="clear()">
          <ion-icon color="danger" name="close"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-fab vertical="bottom" horizontal="end" class="float-icon">
  <ion-fab-button color="success">
    <ion-icon name="logo-whatsapp"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="socialNetworks('S')">
      <ion-img alt="Igreaja Batista Nova Betel" src="./assets/images/call-center.jpg"></ion-img>
    </ion-fab-button>
    <ion-fab-button color="success" (click)="socialNetworks('w')">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>