<ion-grid>
  <ion-row>
    <ion-col>
      <ion-breadcrumbs color="medium">
        <ion-breadcrumb [ngClass]="{'selected': session===1}">
          <ion-label>Informações Pessoais</ion-label>
          <ion-icon slot="separator" name="arrow-forward-circle"></ion-icon>
        </ion-breadcrumb>
        <ion-breadcrumb [ngClass]="{'selected': session===2}">
          <ion-label>Contato</ion-label>
          <ion-icon slot="separator" name="arrow-forward-circle"></ion-icon>
        </ion-breadcrumb>
        <ion-breadcrumb [ngClass]="{'selected': session===3}">
          <ion-label>Login</ion-label>
          <ion-icon slot="separator" name="arrow-forward-circle"></ion-icon>
        </ion-breadcrumb>
      </ion-breadcrumbs>
      <div [ngSwitch]="session">
        <app-register-personal-info *ngSwitchCase="1" (session)="onReceiveSession($event)">
        </app-register-personal-info>
        <app-register-contact *ngSwitchCase="2" (session)="onReceiveSession($event)"></app-register-contact>
        <app-register-login *ngSwitchCase="3" (session)="onReceiveSession($event)"></app-register-login>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
