<ion-grid>
  <ion-row>
    <ion-col>
      <ion-breadcrumbs color="medium" *ngIf="wouldShowBrads">
        <ion-breadcrumb [ngClass]="{'selected': session===1}">
          <ion-label>Informações Pessoais</ion-label>
          <ion-icon slot="separator" name="arrow-forward-circle"></ion-icon>
        </ion-breadcrumb>
        <ion-breadcrumb [ngClass]="{'selected': session===2}">
          <ion-label>Contato</ion-label>
          <ion-icon slot="separator" name="arrow-forward-circle"></ion-icon>
        </ion-breadcrumb>
        <ion-breadcrumb [ngClass]="{'selected': session===3}">
          <ion-label>Login</ion-label>
          <ion-icon slot="separator" name="arrow-forward-circle"></ion-icon>
        </ion-breadcrumb>
      </ion-breadcrumbs>

      <div [ngSwitch]="session">
        <app-register-justification *ngSwitchCase="0" (session)="onReceiveSession($event)"></app-register-justification>
        <app-register-personal-info *ngSwitchCase="1" (session)="onReceiveSession($event)">
        </app-register-personal-info>
        <app-register-contact *ngSwitchCase="2" (session)="onReceiveSession($event)"></app-register-contact>
        <app-register-login *ngSwitchCase="3" (session)="onReceiveSession($event)"></app-register-login>
      </div>
      <ion-item lines="none" button *ngIf="session>0">
        <a href="#" slot="start" (click)="clear()">Limpar tudo</a>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
