.div-pages {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

ion-header {
  ion-toolbar {
    --background: var(--ion-color-tertiary);
  }
  ion-label {
    font-size: 16pt;
    font-weight: 900;
    font-family: Qanelas;
    color: var(--ion-color-light);
  }

  ion-icon {
    font-size: 40px;
  }
}

.ng-invalid.ng-touched:not(form) {
  border-bottom: 1px solid red;
}
.selected {
  ion-label {
    font-size: 14pt;
    font-family: Qanelas-bold;
    color: var(--ion-color-primary);
  }
}

@media only screen and (min-width: 500px) {
  ion-breadcrumbs {
    margin-left: 30%;
    width: 80%;
    padding: 2px;
    font-family: Qanelas-thin;
  }
}
@media only screen and (max-width: 500px) {
  ion-breadcrumbs {
    width: 100%;
    padding: 2px;
    font-size: 8pt;
    font-family: Qanelas-thin;
  }
}
