//header
ion-toolbar {
    width: 95%;
    border-radius: 40px;
    margin: 2%;
    --background: rgba(157, 159, 166, 0.3)
}

//---------------ionic elements
.ocult-slide {
    width: 0;
    height: 0;
}

//-----------divs
.new-comment-message {
    margin: 30px;
}

.div-header {
    width: 100%;
    min-height: 70px;
    box-shadow: 0.4px 0.2px 0.8px 0.2px var(--ion-color-medium);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: grid;
    align-items: center;
    align-content: center;
    align-self: center;
    margin-bottom: 10px;
    ion-icon {
        font-size: 40px;
        margin-right: 10px;
        --ionicon-stroke-width: 40px;
        color: var(--ion-color-primary);
    }
}

.progress_bar_waitting_redirect {
    text-align: center;
    // margin: 20%;
    ion-spinner {
        margin-top: 25px;
        color: var(--ion-color-secondary);
    }
    ion-label {
        margin: 1px;
        font-size: 24pt;
        font-family: Qanelas-bold;
        color: var(--ion-color-primary);
    }
}

.div-slide-challenges {
    width: 80%;
    margin: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    align-content: center;
    align-items: center;
    text-align: center;
    .div-months {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        p {
            margin: 20px;
            margin-left: 30px;
            margin-right: 30px;
            font-size: 16pt;
            font-family: Qanelas-light;
            color: var(--ion-color-primary);
            cursor: pointer;
        }
        animation: fadeIn;
        animation-duration: 1s;
    }
    .div-slide {
        display: grid;
        align-content: center;
    }
    .indicator {
        content: "";
        width: 20px;
        height: 20px;
        background: var(--ion-color-primary);
        position: absolute;
        top: 2px;
        left: 45%;
        transform: rotate(45deg);
    }
    .div-slide-challenge-month {
        z-index: 100;
        margin-top: 10px;
        width: 90%;
        .div-slide-challenge-month-header {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background-color: var(--ion-color-primary);
            height: 80px;
            display: grid;
            align-content: center;
            div {
                display: grid;
                align-content: space-around;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                ion-label {
                    font-family: Qanelas-bold;
                    color: var(--ion-color-light);
                }
            }
            .lb-selected-week {
                font-size: 24pt;
                text-decoration: underline;
            }
        }
        .div-slide-challenge-month-body {
            min-width: 90%;
            margin: 20px;
            text-align: justify;
            ion-label {
                font-size: 10pt;
                color: var(--ion-color-meidum);
                font-family: Qanelas-light;
            }
            ion-text {
                font-size: 16pt;
                color: var(--ion-color-primary);
                font-family: Qanelas-light;
            }
        }
        .item-challenge-done {
            ion-label {
                margin-left: 10px;
            }
        }
    }
}

//-------------labels
.lb-disponivel {
    margin-top: -10px;
    font-size: 8pt;
    font-weight: 100;
    font-family: Qanelas-thin;
    color: var(--ion-color-primary);
}

.lb-challenge-description {
    margin: 15px;
    font-size: 26pt;
    font-family: Qanelas-bold;
    color: var(--ion-color-primary);
}

// .lb-selected-week {
//     font-size: 24pt;
//     color: var(--ion-color-success);
// }
//----------------medias
@media only screen and (min-width: 500px) {
    .div-months {
        // margin-left: 30%;
    }
    .div-slide-challenges {
        .slide::before {
            content: "";
            width: 20px;
            height: 20px;
            background: var(--ion-color-primary);
            position: absolute;
            left: 48%;
            transform: rotate(45deg);
        }
    }
}