<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-icon color="primary" name="arrow-undo-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="lb-title">
      {{!churchSchedule?.id? 'NOVA PUBLICAÇÃO': 'EDITAR PUBLICAÇÃO'}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-spinner *ngIf="is_loading" name="bubbles"></ion-spinner>
<ion-grid>
  <ion-grid>
    <ion-col>
      <ion-card>
        <app-edit-text-church-schedule></app-edit-text-church-schedule>
      </ion-card>
    </ion-col>
  </ion-grid>ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="publish()">
        <ion-label>CONCLUIR </ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-grid>
