<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-icon color="primary" name="arrow-undo-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="lb-title">
      {{!churchSchedule?.id? 'NOVA PUBLICAÇÃO': 'EDITAR PUBLICAÇÃO'}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-segment [value]="session" (ionChange)="setSession($event)">
  <ion-segment-button value="1">
    <ion-label>Texto</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label>Imagem</ion-label>
  </ion-segment-button> <ion-segment-button value="3">
    <ion-label>Revisar</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-spinner *ngIf="is_loading" name="bubbles"></ion-spinner>
<ion-grid>
  <ion-row>
    <ion-col *ngIf="session===1">
      <ion-card>
        <app-edit-text-church-schedule (returnSubpage)="receiveSubpage($event)"></app-edit-text-church-schedule>
      </ion-card>
    </ion-col>
    <ion-col *ngIf="session===2">
      <app-load-images [single]="true" (returnPage)="receiveSubpage($event)"></app-load-images>
    </ion-col>
    <ion-col *ngIf="session===3">
      <ion-card>
        <app-review-church-schedule (returnSubpage)="receiveSubpage($event)"></app-review-church-schedule>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="session>1">
      <ion-button expand="block" (click)="backSession()">
        <ion-icon name="chevron-back-outline"></ion-icon>

        <ion-label>VOLTAR</ion-label>
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button expand="block" (click)="publish()">
        <ion-label>{{session<3 ?'PRÓXIMO':'CONCLUIR'}} </ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-grid>
