<ion-header *permission="'multimidia'">
  <ion-toolbar>
    <ion-buttons slot="end" (click)="newChurchSchedule()">
      <ion-icon color="primary" name="add"></ion-icon>
      <ion-label>Add</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col>
      <app-my-select-list [label]="'Organização'" [listName]="'churches'" [create]="true"
        (selectEmiter)="setChurch($event)"></app-my-select-list>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="showTypes">
    <ion-col>
      <ion-item>
        <ion-label>Programações </ion-label>
        <ion-select [value]="selectedSchedule?.id" interface="popover" (ionChange)="setChurchScheduleType($event)">
          <ion-select-option [value]="item?.id" *ngFor="let item of churchScheduleTypes">{{item?.name | uppercase}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!is_loading">
    <ion-col>
      <ion-accordion-group>
        <ion-accordion [value]="churchSchedule?.id" *ngFor="let churchSchedule of churchSchedules">
          <ion-item slot="header" color="light">
            <ion-card-title>{{churchSchedule?.title}}</ion-card-title>
            <ion-note slot="end">{{churchSchedule?.church?.name}}</ion-note>
          </ion-item>
          <div class="ion-padding" slot="content">
            <app-publication-church-schedule [churchSchedule]="churchSchedule"
              (returnSubpage)="returnSubPage($event)"></app-publication-church-schedule>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
  </ion-row>
</ion-grid>
