<ion-item color="secondary" class="item-choose-label">
  <ion-icon name="information-circle-outline"></ion-icon>
  <ion-label>Escolha o que deseja acessar</ion-label>
</ion-item>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item (click)="selectOption(5)">
        <ion-img src="./assets/images/financy-admin.png"></ion-img>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item (click)="selectOption(6)">
        <ion-img src="./assets/images/marketing-admin.png"></ion-img>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item (click)="selectOption(2)">
        <ion-img src="./assets/images/members-admin.png"></ion-img>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-img src="./assets/images/config-admin.png"></ion-img>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>