<ion-item color="secondary" class="item-choose-label">
  <ion-icon name="information-circle-outline"></ion-icon>
  <ion-label>Escolha o que deseja acessar</ion-label>
</ion-item>
<ion-grid>
  <ion-row>
    <ion-col class="card-options">
      <ion-item (click)="selectOption(5)" lines="none">
        <ion-img alt="Igreaja Batista Nova Betel" src="./assets/images/financy-admin.png"></ion-img>
      </ion-item>
    </ion-col>
    <ion-col class="card-options">
      <ion-item (click)="selectOption(6)" lines="none">
        <ion-img alt="Igreaja Batista Nova Betel" src="./assets/images/marketing-admin.png"></ion-img>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="card-options">
      <ion-item (click)="selectOption(2)" lines="none">
        <ion-img alt="Igreaja Batista Nova Betel" src="./assets/images/secretary-admin.png"></ion-img>
      </ion-item>
    </ion-col>
    <ion-col class="card-options">
      <ion-item lines="none">
        <ion-img alt="Igreaja Batista Nova Betel" src="./assets/images/config-admin.png"></ion-img>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>