.geral {
  display: grid;
  grid-template-columns: auto;
  background: var(--ion-color-light);
  height: 100%;
}

.div-header {
  background-image: url(".../../../../../assets/images/header.png");
  background-position: 0;
  background-size: 100% 100%;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 3fr 1fr;

  .left {
    border: 2px solid var(--ion-color-light);
  }
  .right {
    margin-left: 85px;
  }

  ion-avatar {
    margin-top: 10px;
    max-width: 30px;
    max-height: 30px;
  }
}
ion-grid {
  margin-top: 5%;
}

.card-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 500px) {
  .item-choose-label {
    margin-top: 1%;
    --border-radius: 20px;

    ion-icon {
      font-size: 40px;
      color: var(--ion-color-light);
    }
    ion-label {
      font-family: Qanelas-bold;
      color: var(--ion-color-light);
      margin-left: 1%;
    }
  }
}
@media only screen and (max-width: 500px) {
  .item-choose-label {
    margin-top: 5%;
    --border-radius: 20px;

    ion-icon {
      font-size: 40px;
      color: var(--ion-color-light);
    }
    ion-label {
      font-family: Qanelas-bold;
      color: var(--ion-color-light);
      margin-left: 1%;
    }
  }
}
