<div class="body-div">
  <p class="lb-title">
    DIGITE O <br>
    <strong class="lb-subtitle">
      CÓDIGO QUE VOCÊ
      <BR> RECEBEU NO E-MAIL
    </strong>
  </p>


  <ion-progress-bar *ngIf="cod.length===6" value="0.25" buffer="0.5"></ion-progress-bar>
  <ion-grid *ngIf="cod.length<6">
    <ion-row>
      <ion-col>
        <ion-input #inputZero type="text" [value]="cod2[0]" maxlength="6" (keyup)="checkCod(0, $event)"></ion-input>

      </ion-col>
      <ion-col>
        <ion-input [disabled]="cod2[0].length<=0" type="text" [value]="cod2[1]" maxlength="1"
          (keyup)="checkCod(1, $event)"></ion-input>

      </ion-col>
      <ion-col>
        <ion-input [disabled]="cod2[1].length<=0" type="text" [value]="cod2[2]" maxlength="1"
          (keyup)="checkCod(2, $event)"></ion-input>

      </ion-col>
      <ion-col>
        <ion-input [disabled]="cod2[2].length<=0" type="text" [value]="cod2[3]" maxlength="1"
          (keyup)="checkCod(3, $event)"></ion-input>

      </ion-col>
      <ion-col>
        <ion-input [disabled]="cod2[3].length<=0" type="text" [value]="cod2[4]" maxlength="1"
          (keyup)="checkCod(4, $event)"></ion-input>

      </ion-col>
      <ion-col>
        <ion-input [disabled]="cod2[4].length<=0" type="text" [value]="cod2[5]" maxlength="6"
          (keyup)="checkCod(5, $event)"></ion-input>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-button slot="start" (click)="back()" color="danger">
            <ion-label>VOLTAR</ion-label>
          </ion-button>
          <ion-button slot="end" (click)="resend()" color="tertiary">
            <ion-label>RE-ENVIAR E-MAIL</ion-label>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>
