<div *ngIf="isLoading" class="spinner">
  <ion-spinner name="dots"></ion-spinner>
  <ion-label>Carregando</ion-label>
  <ion-spinner name="dots"></ion-spinner>
</div>

<ion-grid *ngIf="!isLoading">
  <ion-row *ngIf="!showSelect">
    <ion-col class="flex-container flex-col">
      <div class="flex-container main-label" lines="none" button (click)="setShowSelect()"
        [ngStyle]="{'background-color':color?'var(--ion-color-'+color+')':''}">
        <ion-label color="light">{{label | uppercase}}</ion-label>
        <ion-icon color="light" name="caret-down-outline"></ion-icon>
      </div>
      <ion-label class="item-selected" [color]="color" *ngIf="selected"> {{selected}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="showSelect">
    <ion-col class="flex-container backgroun-list">

      <div>
        <div class=" button-controls flex-container">
          <ion-icon color="danger" name="close-circle-sharp" (click)="setShowSelect()"></ion-icon>
          <div *ngIf="create" class="right flex-container">
            <ion-icon (click)="createNew($event)" color="primary" name="add-circle-outline"></ion-icon>
            <ion-label>Add</ion-label>
          </div>
        </div>

        <ion-input autofocus="true" type="text" placeholder="Pesquisar" #inputSearchValue
          (keyup)="searchBar(inputSearchValue.value)">
        </ion-input>
        <div class="open-div">
          <ion-label *ngIf="filtredSearch?.length===0">Lista vazia</ion-label>
          <ul>
            <li *ngFor="let item of filtredSearch" [ngClass]="{'selected-in-list': selected===item?.value}">
              <ion-label detail (click)="onSelect(item)" class="item-search">
                {{ item?.value | uppercase}}</ion-label>
            </li>
          </ul>

        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>