<div class="table-responsive">
  <table class="table  align-middle ">
    <thead>
      <tr class="table-dark">
        <th colspan="6"><ion-label
            class="label-title">{{caixaReport?.caixaReportCategory?.caixaSummary?.caixaCategory?.name}}</ion-label>
        </th>
      </tr>
      <tr>
        <th *ngFor="let item of headCaixaList">{{item | uppercase}}</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let item of caixaReport?.caixaReportCategory?.caixaSummary?.caixas">
        <td>
          <ion-label class="label-body">{{item?.caixaSubcategory?.name | uppercase}}</ion-label>
        </td>
        <td>
          <ion-label class="label-body">{{item?.amount | currencyBrl}}</ion-label>
        </td>
        <td>
          <ion-label class="label-body">{{item?.date | date:'dd/MM/YYYY'}}</ion-label>
        </td>
        <td>
          <ion-label class="label-body">{{item?.register?.name | uppercase}}</ion-label>
        </td>
        <td>
          <ion-label class="label-body"> {{item?.church?.name | uppercase}}</ion-label>
        </td>

        <td>

          <div class="buttons">
            <ion-tab-button (click)="openDescription(item)">
              <ion-icon name="document-text-outline"></ion-icon>
              <ion-label>Descrição</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="download(item)">
              <ion-icon name="download-outline"></ion-icon>
              <ion-label>Comprovante</ion-label>
            </ion-tab-button> <ion-tab-button (click)="openMenuOption($event,item)">
              <ion-icon name="settings-outline"></ion-icon>
              <ion-label>Opções</ion-label>
            </ion-tab-button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>