.label-title {
  font-family: Qanelas-bold;
  font-size: 14pt;
  text-align: center;
}
.label-body {
  font-family: Qilgabe;
  font-size: 5pt;
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-label {
  font-family: Qilgabe;
  font-size: 5pt;
  text-align: center;
  color: red;
}
