div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
  animation: fadeIn;
  animation-duration: 2s;
  margin: 10%;
  margin-top: 25%;
}

.title {
  font-size: 20pt;
  font-family: Qanelas-bold;
  color: var(--ion-color-primary);
  word-wrap: break-word;
  text-align: center;
}

.message {
  font-size: 14pt;
  font-family: Qanelas-bold;
  color: var(--ion-color-dark);
  word-wrap: break-word;
  text-align: center;
}

@media only screen and (min-width: 500px) {
  .icon-ok {
    font-size: 200px;
    color: var(--ion-color-primary);
    --ionicon-stroke-width: 16px;
  }
}
@media only screen and (max-width: 500px) {
  .icon-ok {
    font-size: 200px;
    color: var(--ion-color-primary);
    --ionicon-stroke-width: 16px;
  }
}
