div {
    display: grid;
    grid-template-columns: 80%;
    align-items: center;
    align-content: center;
    align-self: center;
    animation: fadeIn;
    animation-duration: 2s;
    margin: 10%;
    margin-top: 5%;
}

.title {
    font-size: 20pt;
    font-family: Qanelas-bold;
    color: var(--ion-color-primary);
     word-wrap: break-word;
     text-align: center;
}

.message {
    font-size: 14pt;
    font-family: Qanelas-bold;
    color: var(--ion-color-dark);
     margin-top: 10%;
    margin-left: 5%;
    word-wrap: break-word;
    text-align: justify;
}


ion-button{
  margin-left: 5%;
  margin-top: 5%;
  width: 100%;
}
@media only screen and (min-width: 500px) {

.icon-ok {
  font-size: 200px;
  margin-left: 35%;
  color: var(--ion-color-primary);
  --ionicon-stroke-width: 16px;
}

}
@media only screen and (max-width: 500px) {

.icon-ok {
  font-size: 200px;
  margin-left: 15%;
  color: var(--ion-color-primary);
  --ionicon-stroke-width: 16px;
}

}
