.input {
  width: 80%;
  border-radius: 20px;
  border-bottom: 1px solid var(--ion-color-tertiary);
  margin-left: 10%;
  padding: 2px;
}.lebel {
  width: 80%;
  border-radius: 20px;
  margin-left: 10%;
  padding: 2px;
}

.label-small {
  width: 100%;
  border-radius: 10px;
  margin-right: 2%;
}

.input-small {
  width: 100%;
  border-radius: 10px;
  border-bottom: 1px solid var(--ion-color-tertiary);
  margin-right: 2%;
}

.small-input-date {
  width: 100%;
  border-radius: 10px;
  border-bottom: 1px solid var(--ion-color-tertiary);
}
.large-input-date {
  width: 100%;
  ion-button{
    width: 100%;
  border-radius: 10px;
  border-bottom: 1px solid var(--ion-color-tertiary);
  }
  margin-left: 8%;
}
.right-input-date {
  width: 90%;
  ion-button{
    width: 100%;
  border-radius: 10px;
  border-bottom: 1px solid var(--ion-color-tertiary);
  }
  margin-left: 1%;
  margin-right: 5%;
}


.input-item {
   border-radius: 20px;
   border-bottom: 1px solid var(--ion-color-tertiary);
   padding: 2px;
   margin-left: 30%;
   width: 80%;
}

.item-button{
   padding: 2px;
   margin-left: 10%;
   width: 80%;

   ion-button{
    --border-radius: 20px;
    ion-label{
      font-size: 14pt;
      font-family: Qanelas-bold;
    }
   }
}

.align-title {
  text-align: center;
}

.img-item-user {
  height: 100px;
  width: 100px;
}



.ng-invalid.ng-touched:not(form) {
  border-bottom: 1px solid red;
}



ion-radio-group{
  display: flex;
}


.isSmall{
  width: 0px;
  height: 0px;
}

.separated-date{
  display: flex;
}

