.lebel {
  width: 80%;
  border-radius: 20px;
  margin-left: 10%;
  padding: 2px;
}

.label-small {
  width: 100%;
  border-radius: 10px;
  margin-right: 2%;
}

.input-small {
  width: 100%;
  border-radius: 10px;
  border-bottom: 1px solid var(--ion-color-tertiary);
  margin-right: 2%;
}

.small-input-date {
  width: 100%;
  border-radius: 10px;
  border-bottom: 1px solid var(--ion-color-tertiary);
}
.large-input-date {
  width: 100%;

  ion-button {
    width: 100%;
    border-radius: 10px;
    border-bottom: 1px solid var(--ion-color-tertiary);
  }
  margin-left: 8%;
}
.right-input-date {
  width: 100%;

  ion-button {
    border-radius: 10px;
    border-bottom: 1px solid var(--ion-color-tertiary);
  }
}

.input-item {
  border-radius: 20px;
  border-bottom: 1px solid var(--ion-color-tertiary);
  padding: 2px;
  margin-left: 30%;
  width: 80%;
}

.item-button {
  ion-button {
    --border-radius: 20px;
    ion-label {
      font-size: 14pt;
      font-family: Qanelas-bold;
      color: var(--ion-color-light);
    }
  }
}

.align-title {
  text-align: center;
}

.img-item-user {
  height: 100px;
  width: 100px;
}

.ng-invalid.ng-touched:not(form) {
  border-bottom: 1px solid red;
}

ion-radio-group {
  display: flex;
}

.isSmall {
  width: 0px;
  height: 0px;
}

.separated-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

ion-item {
  display: inline-block;
  margin: 0 0.5rem;

  animation: backInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s; /* don't forget to set a duration! */
}

ion-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.date-options-label {
  text-align: center;

  ion-label {
    font-family: Qanelas-bold;
    color: var(--ion-color-primary);
    margin: 5%;
  }
}

.icon-fomat-date {
  font-size: 20px;
  color: var(--ion-color-primary);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
input {
  border: 0px;
  border-radius: 20px;
  border-bottom: 1px solid var(--ion-color-primary);
  text-align: center;
  font-size: 14pt;
  font-family: Qanelas-bold;
  color: var(--ion-color-primary);
}
