.div-header {
  background-image: url(".../../../../../../assets/images/header.png");
  background-position: 0;
  background-size: 100% 100%;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  .left {
    border: 2px solid var(--ion-color-light);
  }
}
ion-grid {
  height: 100%;
}

.menu-logo {
  width: 80px;
  height: 80px;
}

.user-name {
  color: white;
  font-family: Qanelas;
  height: 40px;
}

.backColor {
  // --background: var(--ion-color-medium);
}

.center {
  display: grid;
  align-content: center;
  align-items: center;
  align-self: center;
}

ion-segment {
  // width: 90%;
  font-size: 1.5vw;
}

ion-segment ion-label {
  font-size: 2vw;
}

.menu-left {
  text-align: center;

  ion-label {
    font-size: 1vw;
    color: white;
  }

  ion-icon {
    margin-left: 20px;
    font-size: 30px;
  }
  ion-list {
    background: var(--ion-color-secondary);
    margin-right: 10%;
    float: right;
  }
  .search-item {
    width: 500px;
  }
  ion-button {
    font-size: 5pt;
    background: var(--ion-color-primary);
    color: var(--ion-color-light);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
ion-buttons {
}
.title {
  ion-title {
    margin-left: 20%;
    text-align: center;
    font-family: Qanelas-bold;
    font-size: 26pt;
    color: var(--ion-color-medium);
  }
}
.menu-right {
  width: 40%;
  ion-avatar {
    margin-right: 20px;
    width: 300px;
    height: 40px;
  }
  ion-item {
    width: 200px;
    word-wrap: break-word;
  }
  ion-label {
    font-size: 14pt;
    font-weight: bold;
    font-family: Qanelas;
    color: var(--ion-color-medium);
    word-wrap: break-word;
  }
  ion-note {
    margin-top: -60px;
    font-size: 8pt;
    color: var(--ion-color-medium);
    // margin-bottom: 20px;
  }
}

//menu lateral
.menu-lateral {
  background-color: var(--ion-color-primary);

  .menu-logo {
    width: 80px;
    height: 80px;
  }
  ion-list {
    margin-left: 10%;
    background-color: var(--ion-color-primary);
    ion-item {
      --background: var(--ion-color-primary);
    }
  }
  ion-icon {
    font-size: 10px;
    color: var(--ion-color-light);
  }
  ion-button > ion-label {
    font-family: Qanelas;
    font-size: 8pt;
    color: var(--ion-color-light);
  }
}

.myAvatar {
  img {
    width: 40px;
    height: 40px;
  }
}

.footer {
  position: absolute;
  bottom: 0px;
  right: 20px;
  width: 80%;
}
