<ion-grid>
  <ion-row>
    <ion-col size="2" color="primary" class="menu-lateral" *ngIf="showMenu" [ngStyle]="{'height': 2*height+'px'}">
      <ion-icon src="./assets/icons/menu.svg" (click)="showMenu = !showMenu"></ion-icon>

      <ion-grid>
        <ion-row *ngFor="let item of menu_itens; let i=index">
          <ion-col>
            <ion-item lines="none" color="primary">
              <ion-button fill="clear" (click)="selectPage(i, item)">
                <ion-label>{{item?.name}}</ion-label>
              </ion-button>
              <div *ngIf="item?.submenu.length>0">
                <ion-icon *ngIf="!item?.showSub" slot="end" name="caret-down-outline"
                  (click)="item.showSub = !item.showSub"></ion-icon>
                <ion-icon *ngIf="item?.showSub" slot="end" name="caret-up-outline"
                  (click)="item.showSub = !item.showSub"></ion-icon>
              </div>
            </ion-item>

            <ion-list *ngIf="item?.showSub">
              <ion-item lines="none" *ngFor="let sub of item?.submenu; let j=index">
                <ion-button fill="clear" (click)="selectSubPage(i,j)">
                  <ion-label>{{sub}}</ion-label>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-col>

    <ion-col>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start" class="menu-left">
            <ion-icon *ngIf="!showMenu" color="primary" name="menu-sharp" (click)="setShowMenu()"></ion-icon>
            <ion-item lines="none">
              <ion-img src="./assets/icon/favicon.png" class="menu-logo"></ion-img>
            </ion-item>
          </ion-buttons>
          <ion-buttons slot="end" class="menu-right">
            <ion-label>{{ user?.name }}</ion-label>
          </ion-buttons>

        </ion-toolbar>
      </ion-header>

      <div [ngSwitch]="page" *ngIf="isMember">
        <app-profile *ngSwitchCase="'0'"></app-profile>
      </div>
      <div [ngSwitch]="page" *ngIf="!isMember">
        <app-profile *ngSwitchCase="'0'"></app-profile>
        <app-user-admin *ngSwitchCase="'1'"></app-user-admin>
        <app-financy-admin *ngSwitchCase="'2'"></app-financy-admin>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
    refreshingSpinner="circles" refreshingText="Atualizando...">
  </ion-refresher-content>
</ion-refresher>
