<ion-grid>
  <ion-row *ngIf="isDirective">
    <ion-col>
      <ion-icon name="ban-outline" (click)="selectColor()"></ion-icon>
    </ion-col>
    <ion-col *ngFor="let color of colors">
      <ion-icon (click)="selectColor(color)" name="ellipse-sharp" [ngStyle]="{'color': color}"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>
        Criar comentário
      </ion-label>
      <ion-textarea [(ngModel)]="comment" (keyup.enter)="setComment()"></ion-textarea>
      <ion-button expand="block" (click)="setComment()">
        <ion-label>OK</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
