<div class="flex-container">
  <div class="fundo flex-container">

    <div class="buttons">
      <ion-button fill="outline" color="light" (click)="backPage()">
        <ion-label>Voltar</ion-label>
      </ion-button>
      <ion-button color="light" (click)="sendRequest()">
        <ion-label>Enviar</ion-label>
      </ion-button>
    </div>
    <div class="create-account ">
      <ion-label>Não tem conta? <strong class="link"> Criar</strong></ion-label>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img alt="Igreaja Batista Nova Betel" class="logo" src="./assets/images/logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="item-input" lines="none">
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" (keyup.enter)="sendRequest()" [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-button class="btn-entrar" color="tertiary" (click)="backPage()">VOLTAR</ion-button>
          <ion-button class="btn-entrar" color="tertiary" (click)="sendRequest()">ENVIAR</ion-button>
        </ion-item>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</div>