.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-input {
  width: 350px;
  --background: white;
  border-radius: 10px;
}
ion-grid {
  width: 90%;
}

ion-col {
  display: grid;
  justify-content: center;
}
@media only screen and (min-width: 500px) {
  .fundo {
    background-image: url("../../../../assets/images/login-background.png");
    background-repeat: no-repeat;
    background-size: 500px 800px;
    background-position: 50% 100%;
    width: 100%;
    height: 800px;
    position: absolute;
  }

  .logo {
    width: 200px;
    height: 250px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    position: absolute;
    bottom: 10%;
    ion-button {
      width: 150px;
      --border-radius: 10px;
      text-align: center;
      margin: 5px;
    }
  }
  .link {
    font-family: Qanelas-bold;
    color: var(--ion-color-light);
    float: right;
    text-decoration: underline;
    margin-left: 10px;
    cursor: pointer;
  }

  .create-account {
    font-family: Qanelas-bold;
    color: var(--ion-color-light);
    position: absolute;
    bottom: 5%;
  }
}

@media only screen and (max-width: 500px) {
  .fundo {
    background-image: url("../../../../assets/images/login-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .logo {
    width: 200px;
    height: 250px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    position: absolute;
    bottom: 10%;
    ion-button {
      width: 150px;
      --border-radius: 10px;
      text-align: center;
      margin: 5px;
    }
  }
  .link {
    font-family: Qanelas-bold;
    color: var(--ion-color-light);
    float: right;
    text-decoration: underline;
    margin-left: 10px;
  }

  .forgot-password {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    ion-label {
      float: right;
      color: var(--ion-color-primary);
      margin-left: 5%;
    }
  }

  .create-account {
    font-family: Qanelas-bold;
    color: var(--ion-color-light);
    position: absolute;
    bottom: 5%;
  }
}
