<ion-grid>
  <ion-row>
    <ion-col>

      <ion-item lines="none" class="input">
        <ion-label position="floating">*Rua </ion-label>
        <ion-input (ionBlur)="save()" type="text" [(ngModel)]="user.contact.street"></ion-input>
      </ion-item>

      <ion-item lines="none" class="input">
        <ion-label position="floating">*Numero da residência: </ion-label>
        <ion-input (ionBlur)="save()" [type]="typeNumber" [disabled]="thereIsNotNumber"
          placeholder="Qual o número da residência" [(ngModel)]="user.contact.hauseNumber">
        </ion-input>
      </ion-item>
      <ion-item lines="none" class="input checkbox">
        <ion-checkbox (ionChange)="setNotNumber(checkNumber)" #checkNumber></ion-checkbox>
        <ion-label>Sem número</ion-label>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="floating">*Bairro: </ion-label>
        <ion-input (ionBlur)="save()" type="text" placeholder="Em que bairro mora?" [(ngModel)]="user.contact.district">
        </ion-input>
      </ion-item>


      <ion-item lines="none" class="input">
        <ion-label position="floating">Complemento: </ion-label>
        <ion-input (ionBlur)="save()" type="text" placeholder="Alguma informação que ajude a localizar?"
          [(ngModel)]="user.contact.complement"></ion-input>
      </ion-item>

      <ion-item class="item-button" lines="none">
        <ion-button slot="start" expand="block" color="secondary" type="submit" (click)="setSession(1)">
          <ion-label>ATERIOR</ion-label>
        </ion-button>
        <ion-button slot="end" expand="block" color="secondary" type="submit" (click)="setSession(3)">
          <ion-label>PRÓXIMO</ion-label>
        </ion-button>
      </ion-item>

    </ion-col>
  </ion-row>
</ion-grid>
