<ion-tab-bar slot="bottom" color="primary">

  <ion-tab-button tab="feed" (click)="setSession(0)">
    <ion-icon name="home-sharp"></ion-icon>
    <ion-label>INICIO</ion-label>
    <ion-badge *ngIf="badge_feed">{{badge_feed}}</ion-badge>
  </ion-tab-button>

  <ion-tab-button tab="register" (click)="setSession(1)">
    <ion-icon name="chatbubbles-sharp"></ion-icon>
    <ion-label>Cadastro</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="login" (click)="setPage(1)">
    <ion-icon name="person-circle"></ion-icon>
    <ion-label>Login</ion-label>
  </ion-tab-button>
</ion-tab-bar>
