<ion-tab-bar slot="bottom" color="primary">

  <ion-tab-button tab="home" (click)="setSession(0)">
    <ion-icon name="home-sharp"></ion-icon>
    <ion-label>INICIO</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="register" (click)="setSession(1)">
    <ion-icon name="chatbubbles-sharp"></ion-icon>
    <ion-label>Cadastro</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="register" (click)="setPage(1)" *ngIf="isTest">
    <ion-icon name="balloon-sharp"></ion-icon>
    <ion-label>Aniversariantes</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="login" (click)="setPage(2)">
    <ion-icon name="person-circle"></ion-icon>
    <ion-label>Login</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="login" (click)="setPage(-1)" *ngIf="showInstall">
    <ion-icon name="cloud-download-outline"></ion-icon>
    <ion-label>Instalar</ion-label>
  </ion-tab-button>
</ion-tab-bar>