<ion-tabs #tabHome (ionTabsDidChange)="hasSaw()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="challenge">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Cadastro">
      <ion-icon name="chatbubbles-sharp"></ion-icon>
      <ion-label>Cadastro</ion-label>
      <!-- <ion-badge *ngIf="badge_feed">{{badge_feed}}</ion-badge> -->

    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
