<div *ngIf="isLoading" class="spinner">
  <ion-spinner name="dots"></ion-spinner>
  <ion-label>Carregando</ion-label>
  <ion-spinner name="dots"></ion-spinner>
</div>


<ion-grid *ngIf="!isLoading">
  <ion-row>
    <ion-col size="12">
      <ion-item lines="none" class="item-search">
        <ion-input type="text" #searchInput (keyup)="search(searchInput.value)"></ion-input>
        <ion-icon color="secondary" name="search-outline"></ion-icon>
        <ion-note slot="end" color="secondary">{{ users?.length }} {{ users?.length>1 ? 'registros' : 'registro' }}
        </ion-note>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#" (click)="backPage()">
            <ion-item lines="none">
              <ion-icon name="chevron-back-sharp"></ion-icon>
            </ion-item>
          </a></li>
        <li class="page-item">
          <ion-item lines="none">
            <ion-label>Página {{paginationNumber}}</ion-label>
          </ion-item>
        </li>
        <li class="page-item"><a class="page-link" href="#" (click)="nextPage()">
            <ion-item lines="none">
              <ion-icon name="chevron-forward-sharp"></ion-icon>
            </ion-item>
          </a></li>
      </ul>
    </ion-col>

    <ion-col>
      <ion-item lines="none">
        <ion-button slot="end" fill="clear" color="primary" (click)="newUser()">
          <ion-label>Cadastrar {{label}}</ion-label>
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" color="primary" (click)="openFilter()">
          <ion-label>Filtrar</ion-label>
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-button slot="end" color="medium" (click)="setLetterSize(false)">-A</ion-button>
        <ion-button slot="end" color="medium" (click)="setLetterSize(true)">+A</ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let user of users | slice:inferiorLimit:upperLimit">
    <ion-col>

      <ion-item lines="none">
        <ion-icon *ngIf="!user?.showDetails" name="caret-forward-outline" (click)="setShowDetail(user)"></ion-icon>
        <ion-icon *ngIf="user?.showDetails" name="caret-down-outline" (click)="setShowDetail(user)"></ion-icon>
        <ion-avatar>
          <ion-img [src]="user?.image"></ion-img>
        </ion-avatar>
        <ion-card-title>{{ user?.name }} </ion-card-title>
        <ion-note slot="end">{{user?.church?.name | uppercase}}</ion-note>
      </ion-item>



      <div [ngClass]="{'ocult-details': !user?.showDetails, 'show-details':user?.showDetails}">

        <ion-card>
          <ion-card-header>

            <ion-item lines="none">
              <ion-button slot="end" color="warning" (click)="edit(user)">
                <ion-icon color="light" name="pencil-sharp"></ion-icon>
              </ion-button>

              <ion-button slot="end" color="danger" (click)="delete(user)">
                <ion-icon color="light" name="trash-outline"></ion-icon>
              </ion-button>

            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label [ngStyle]="{'font-size': letterSize}"><strong>Cod:</strong> {{user?.id}} </ion-label>
                </ion-col>
                <ion-col>
                  <ion-label [ngStyle]="{'font-size': letterSize}"><strong>Batizado:</strong> {{user?.isBaptized ?
                    'SIM':'NÃO'}} </ion-label>
                </ion-col>

              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label [ngStyle]="{'font-size': letterSize}"><strong>Estado Civil:</strong>
                    {{user?.maritalStatus?.name | uppercase}} </ion-label>
                </ion-col>
                <ion-col>
                  <ion-label [ngStyle]="{'font-size': letterSize}"><strong>Entrada por:</strong>
                    {{user?.inputMethod?.name
                    | uppercase}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label [ngStyle]="{'font-size': letterSize}"><strong>Data de Nascimento:</strong>
                    {{user?.birthDate|
                    date:'dd/MM/yyyy'}} </ion-label>
                </ion-col>
                <ion-col>
                  <ion-label [ngStyle]="{'font-size': letterSize}"><strong>Endereço:</strong> Rua
                    {{user?.contact?.street
                    | uppercase}},
                    {{user?.contact?.hauseNumber | uppercase}}, {{user?.contact?.district | uppercase}},
                  </ion-label>
                </ion-col>
              </ion-row> <ion-row>
                <ion-col>
                  <ion-label [ngStyle]="{'font-size': letterSize}"><strong>Email:</strong> {{user?.email}} </ion-label>
                </ion-col>
                <ion-col>
                  <ion-label [ngStyle]="{'font-size': letterSize}"><strong>Telefone:</strong> {{user?.contact?.phone1 |
                    phone}},
                  </ion-label>
                </ion-col>
              </ion-row>

            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>

    </ion-col>

  </ion-row>
</ion-grid>
