.div-input-title {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  align-content: center;
  align-self: center;
}

.progress_bar_waitting_redirect {
  text-align: center;
  // margin: 20%;
  ion-spinner {
    margin-top: 25px;
    color: var(--ion-color-secondary);
  }
  ion-label {
    margin: 1px;
    font-size: 24pt;
    font-family: Qanelas-bold;
    color: var(--ion-color-primary);
  }
}
ion-textarea {
  word-wrap: break-word;
}

ion-segment-button {
  ion-label {
    font-family: Qanelas-bold;
    color: var(--ion-color-primary);
    opacity: 0.3;
  }
}

.segment {
  display: flex;
  flex-direction: row;
}

.selected-segment {
  ion-label {
    opacity: 1;
  }
  border-bottom: 2px solid var(--ion-color-secondary);
}
