.div-input-title {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  align-content: center;
  align-self: center;
}

.selected-segment {
  border-bottom: 2px solid var(--ion-color-secondary);
}
// ion-segment  {
//   --background: #71c3ce;
// }

ion-textarea {
  word-wrap: break-word;
}

.segment {
  display: flex;
  flex-direction: row;
}
