.div-input-title {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  align-content: center;
  align-self: center;
}

// ion-segment  {
//   --background: #71c3ce;
// }

ion-textarea {
  word-wrap: break-word;
}

ion-segment-button {
  ion-label {
    font-family: Qanelas-bold;
    color: var(--ion-color-primary);
    opacity: 0.3;
  }
}

.segment {
  display: flex;
  flex-direction: row;
}

.selected-segment {
  ion-label {
    opacity: 1;
  }
  border-bottom: 2px solid var(--ion-color-secondary);
}
