<ion-tab-bar slot="bottom" color="primary">

  <ion-tab-button tab="feed" (click)="setPage(6)" *ngIf="isTest">
    <ion-icon name="chatbubbles-sharp"></ion-icon>
    <ion-label>Fórum</ion-label>
    <ion-badge *ngIf="badge_feed">{{badge_feed}}</ion-badge>
  </ion-tab-button>

  <ion-tab-button tab="bible" (click)="setPage(0)">
    <ion-icon name="home"></ion-icon>
    <ion-label>Leitura</ion-label>
  </ion-tab-button>




  <ion-tab-button tab="more" (click)="setPage(-2)">
    <ion-icon name="power-outline"></ion-icon>
    <ion-label>Sair</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="more" (click)="setPage(2)">
    <ion-icon name="apps-sharp"></ion-icon>
    <ion-label>Mais</ion-label>
  </ion-tab-button>
</ion-tab-bar>
