<ion-footer *ngIf="showColorMark">
  <ion-toolbar>
    <app-color-manager [verse]="verse"></app-color-manager> </ion-toolbar>
</ion-footer>
<ion-tab-bar slot="bottom" color="primary">

  <ion-tab-button tab="feed" (click)="setPage(6)" *ngIf="isTest">
    <ion-icon name="chatbubbles-sharp"></ion-icon>
    <ion-label>Fórum</ion-label>
    <ion-badge *ngIf="badge_feed">{{badge_feed}}</ion-badge>
  </ion-tab-button>

  <ion-tab-button tab="more" (click)="setPage(7)" *ngIf="isTest">
    <ion-icon name="calendar-number-outline"></ion-icon>
    <ion-label>Programações</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="bible" (click)="setPage(1)">
    <ion-icon name="home"></ion-icon>
    <ion-label>Leitura</ion-label>
  </ion-tab-button>



  <ion-tab-button tab="more" (click)="setPage(3)" class="admin">
    <ion-img src="./assets/images/white-logo.png"></ion-img>
    <ion-label class="label-img-icon">Admin</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="more" (click)="setPage(0)">
    <ion-icon name="person-sharp"></ion-icon>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>
</ion-tab-bar>