
@media only screen and (min-width: 500px) {
ion-grid{
  margin-left: 10%;
  margin-right: 10%;
.title{
  font-size: 24pt;
  font-family: Qanelas-bold;
  color: var(--ion-color-primary);
  text-align: center;
}
  .description-container{
    width: 100%;
    height: 500px;
  background-color: var(--ion-color-secondary);
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  align-content: center;
  align-self: center;

  div{
    margin: 5%;
    font-size: 18pt;
    font-family: Qanelas-bold;
    color: var(--ion-color-dark);
    text-align: center;
  }
  }

  ion-button{
    --border-radius: 20px;
    width: 200px;
    margin-bottom: 20px;
    margin-left: 40%;
    ion-label{
      font-size: 14pt;
      font-family: Qanelas-bold;
      color: var(--ion-color-light);
    }
   }
}
}

@media only screen and (max-width: 500px) {
ion-grid{
  margin-left: 5%;
  margin-right: 5%;
.title{
  font-size: 16pt;
  font-family: Qanelas-bold;
  color: var(--ion-color-primary);
  text-align: center;
}
  .description-container{
    width: 100%;
    height: 100%;
  background-color: var(--ion-color-secondary);
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  align-content: center;
  align-self: center;

  div{
    margin: 5%;
    font-size: 18pt;
    font-family: Qanelas-bold;
    color: var(--ion-color-dark);
    text-align: center;
  }
  }

  ion-button{
    --border-radius: 20px;
    width: 200px;
    margin-bottom: 5px;
    margin-left: 20%;
    ion-label{
      font-size: 14pt;
      font-family: Qanelas-bold;
      color: var(--ion-color-light);
    }
   }
}
}

