<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-label class="title">Ficha de Cadastro de Membros</ion-label>
      </ion-item>
      <div class="description-container">

        <div>
          Com o objetivo de atualizar os dados da membresia da Igreja Batista Nova Betel, e cadastrar novos
          membros, a IBNB criou um formulário eletrônico.
        </div>

        <div>
          Caso não seja membro, mas esteja frequentando a IBNB há algum tempo, seja batizado em outra igreja, e se
          considere participante desta comunidade de fé, preencha o formulário para ter acesso à área de login, onde
          você poderá
          acessar os recursos e ferramentas disponíveis apenas a quem tem um cadastro.
        </div>

        <ion-button expand="block" (click)="setSession(1)">
          <ion-label>CONTINUAR</ion-label>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
