<div class="geral">

  <ion-toolbar>

    <ion-buttons>
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        VOLTAR</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid>
    <ion-row *ngIf="feed?.checkPublish">
      <ion-col size="10">
        <div class="div-publisher">
          <ion-avatar>
            <ion-img alt="Igreaja Batista Nova Betel" [src]="feed?.publisher?.image"></ion-img>
          </ion-avatar>
          <div>
            <ion-label>{{ feed?.publisher?.name }}</ion-label>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="feed?.checkPublish">
      <ion-col *ngIf="feed?.image">
        <div [ngClass]="{'feed-img-short': !expandAll, 'feed-img-large':expandAll}">
          <ion-img alt="Igreaja Batista Nova Betel" [src]="feed?.image"></ion-img>
        </div>

      </ion-col>
      <ion-col>
        <div class="headers-reactions" *ngIf="feed?.date">
          <ion-icon *ngIf="!feed?.love" name="heart-outline" (click)="setLove()"></ion-icon>
          <ion-icon color="danger" *ngIf="feed?.love" name="heart-sharp" (click)="setLove()"></ion-icon>
          <ion-label>{{ feed?.date +' '+feed?.time | date: 'dd/MM/yyyy HH:mm:ss' }}</ion-label>
        </div>
        <div class="draft" *ngIf="!feed?.date">
          <ion-label color="danger">Rascunho não publicado</ion-label>
        </div>
        <ion-item lines="none">
          <p class="lb-feed-title">{{ feed?.title }}</p>
        </ion-item>
        <div [ngClass]="{ 'short-message': !expandAll, 'complete-message': expandAll}">{{ feed?.message
          }}</div>

        <ion-item lines="none" *ngIf="feed?.message?.length>100">
          <p class="p-as-a-link" (click)="showCompleteMessage()">{{expandAll ? 'MENOS': 'MAIS...'}}</p>
        </ion-item>
        <app-feed-comment [feed]="feed" class="show-comments" *ngIf="feed?.showComment"></app-feed-comment>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div>
    <div class="new-comment-message">
      <ion-textarea #texAreaMessage maxlength="250" placeholder="O que você está pensando? Conta pra gente!"
        [(ngModel)]="newComment.message"></ion-textarea>

      <div>
        <ion-note>{{ newComment?.message?.length ? newComment?.message?.length : 0}} / 250 caracteres</ion-note>
        <ion-button *ngIf="!is_loading" fill="clear" color="primary" (click)="postComment()">publicar</ion-button>
        <ion-spinner name="dots" *ngIf="is_loading"></ion-spinner>

      </div>
    </div>
    <div *ngIf="!is_editting">
      <ion-grid *ngFor="let comment of feed?.comments">


        <ion-row>
          <ion-col size="11">

            <ion-item lines="none">
              <ion-avatar>
                <ion-img alt="Igreaja Batista Nova Betel" [src]="feed?.publisher?.image"></ion-img>
              </ion-avatar>
              <ion-label class="lb-comment-commenter">{{ feed?.publisher?.name }}
              </ion-label>
            </ion-item>
            <ion-text class="lb-comment-message" *ngIf="!comment.edit">{{ comment?.message }}</ion-text>

            <div *ngIf="comment.edit">

              <ion-item>
                <ion-label position="floating">Menssagem</ion-label>
                <ion-textarea cols="3" rows="3" maxlength="250" placeholder="O que você está pensando? Conta pra gente!"
                  [(ngModel)]="comment.message"></ion-textarea>

              </ion-item>
              <ion-note>{{ feed?.message?.length ? feed?.message?.length : 0}} / 250 caracteres</ion-note>

            </div>
          </ion-col>
          <ion-col>
            <ion-item lines="none" class="alter-cancel-label-as-button" *ngIf="comment.edit">
              <ion-label slot="end" (click)="editCancel(comment)">Cancelar</ion-label>
              <ion-label slot="end" (click)="edit(comment)">ALterar</ion-label>
            </ion-item>
            <ion-icon *ngIf="!comment.edit" (click)="menuPost(comment, $event)"
              name="ellipsis-vertical-outline"></ion-icon>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </div>


</div>