<div *ngIf="isLoading" class="spinner">
  <ion-spinner name="dots"></ion-spinner>
  <ion-label>Carregando</ion-label>
  <ion-spinner name="dots"></ion-spinner>
</div>
<ion-item lines="none" class="page-title">
  <ion-label>Controle de Dízimos e Ofertas</ion-label>
</ion-item>

<ion-grid *ngIf="!isLoading">

  <ion-row>
    <ion-col>
      <ion-item lines="none" class="separated-date">
        <ion-item lines="none" class="right-input-date">
          <ion-button fill="clear" id="popover-button-month" expand="block">
            <label>{{customizedMonth?.name}}/{{filter?.year}}</label>
          </ion-button>

          <ion-popover trigger="popover-button-month" [dismissOnSelect]="false">
            <ng-template>
              <ion-content>
                <ion-datetime [showDefaultButtons]="true" presentation="month-year" display-format="MM-YYYY" #timeMonth
                  (ionChange)="onSelectMonth(timeMonth.value)" doneText="OK" cancelText="CANCELAR">
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item lines="none">
        <ion-button slot="end" fill="clear" color="primary" (click)="titheMaintaince()">
          <ion-label>Cadastrar {{label}}</ion-label>
          <ion-icon name="add"></ion-icon>
        </ion-button>

      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-label class="date-title">{{customizedMonth?.name}}/{{filter?.year}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="tithes.length>0">
    <ion-col>
      <ion-card>
        <table class=" responsive-table highlight centered">
          <thead>
            <tr>
              <th *ngFor="let item of headTitheList">{{item}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tithe of tithes">
              <td>
                <ion-label>R$ {{tithe?.amount | currencyBrl}}</ion-label>
              </td>
              <td>
                <ion-label> {{tithe?.isTithe ==='1' ? 'DÍZIMO':'OFERTA'}} </ion-label>
              </td>
              <td>
                <ion-label> {{tithe?.created_at | date:'dd/MM/YYYY'}} </ion-label>
              </td>
              <td>

                <ion-item lines="none">
                  <ion-list (click)="titheMaintaince(tithe)" slot="end">
                    <ion-icon color="secondary" name="pencil-sharp"></ion-icon>
                    <ion-label color="secondary">Editar</ion-label>
                  </ion-list>

                  <ion-list (click)="delete(tithe)" slot="end">
                    <ion-icon color="danger" name="trash-outline"></ion-icon>
                    <ion-label color="danger">Excluir</ion-label>
                  </ion-list>
                </ion-item>
              </td>
            </tr>
          </tbody>
        </table>

      </ion-card>

    </ion-col>

  </ion-row>
</ion-grid>
