<div class="table-responsive">
  <table class="table  align-middle ">
    <thead>
      <tr>
        <th *ngFor="let item of headCaixaList">{{item | uppercase}}</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let item of datas" [ngClass]="{'color-problem': item?.problems?.length>0}">
        <td>
          <div class="buttons">
            <ion-tab-button [disabled]="!item?.description" (click)="openDescription(item)">
              <ion-icon name="document-text-outline"></ion-icon>
              <ion-label>Descrição</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="delete(item)">
              <ion-icon name="trash-outline"></ion-icon>
              <ion-label>Excluir</ion-label>
            </ion-tab-button>
          </div>
        </td>
        <td>
          <ion-label class="label-body">{{item?.amount | currencyBrl}}</ion-label>
        </td>
        <td>
          <ion-label class="label-body">{{item?.date | date:'dd/MM/YYYY'}}</ion-label>
        </td>

        <td>
          <ion-label class="label-body">{{item?.caixaCategory?.name | uppercase}}</ion-label>
        </td>
        <td>
          <ion-label class="label-body">{{item?.caixaType?.name | uppercase}}</ion-label>
        </td>
        <td>
          <ul>
            <li *ngFor="let problem of item?.problems">
              <ion-label>{{ problem}}</ion-label>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>