<ion-grid>

  <ion-row>
    <ion-col>
      <ion-popover trigger="popover-button-date" class="date-content">
        <ng-template>
          <ion-content>
            <ion-datetime color="primary" locale="pt-BR" [showDefaultButtons]="true" #datePop [min]="today"
              (ionChange)="onSetDate(datePop?.value)" doneText="OK" cancelText="CANCELAR">
              <span slot="time-label">Horário</span>
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-popover>
      <ion-label class="label-item" position="floating">Data de publicação</ion-label>

      <ion-item class="input-item" lines="none">
        <input class="input" type="date-time" [value]="feed?.date" #inputDate (keyup)="onSetDate(inputDate.value)">
        <ion-button fill="clear" id="popover-button-date"><ion-label> <ion-icon class="icon-fomat-date"
              name="calendar-clear-outline"></ion-icon></ion-label></ion-button>


      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-publication [editable]="false" [feed]="feed" [showReactions]="false"
        [expandAll]="feed?.message?.length>500"></app-publication>
    </ion-col>
  </ion-row>
</ion-grid>