<!-- <div class="fundo"></div> -->
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-label class="title">Acessar Sistema</ion-label>

      <ion-item class="item-input" lines="none">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="text" [(ngModel)]="user.email"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item class="item-input" lines="none">
        <ion-label position="floating">senha</ion-label>
        <ion-input [type]="password" [(ngModel)]="user.password"></ion-input>
        <ion-button slot="end" expand="block" fill="clear" (click)="showPassword()">
          <ion-icon color="secondary" *ngIf="show" name="eye-outline"></ion-icon>
          <ion-icon color="secondary" *ngIf="!show" name="eye-off-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <a slot="start" href="#" color="light" (click)="recoverPasswordd()">
          <ion-label class="esqueciSenha">Esqueci minha senha</ion-label>
        </a>
        <ion-button slot="end" expand="block" color="success" (click)="login()">Entrar</ion-button>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>

    </ion-col>

  </ion-row>
</ion-grid>
