.col-left{
  border-right: 1px solid black;
}

.row1{
  margin: 10%;
}
.col-right{
  float: left;
}

.fundo{
  background-image: url('../../../../assets/images/logo.png');
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: 50% 100%;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  border: 1px solid black;
}

.title{
  text-align: center;
  font-size: 18pt;
  font-weight: 800;
  font-family: Qanelas;
  color: var(--ion-color-secondary);
}
.esqueciSenha{
  font-size: 12pt;
  font-weight: 800;
  font-family: Qanelas;
  color: var(--ion-color-tertiary);
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}






//body
.lb-title{
    font-size: 14pt;
    font-weight: 900;
    color: var(--ion-color-secondary);
    font-family: Qanelas;
}

ion-grid{
    width: 90%;
}

ion-col{
    display: grid;
    justify-content: center;
}

.linha-divisoria{
    margin-top: 20%;
    width: 5px;
    height: 300px;
    background-color: var(--ion-color-secondary);
}

//definição de senha
.password-checked{
  color: var(--ion-color-success);
}
  .item-input {
    width: 350px;
   --background: white;
  border-radius: 10px;
  border: 1px solid var(--ion-color-tertiary);
}

ion-item{
  // --background: transparent;
}
