.title {
  font-family: Qanelas-bold;
  font-size: 18;
  color: var(--ion-color-primary);
  text-align: center;
}

ion-card {
  width: 200px;
  height: 340px;
}

.month {
  ion-label {
    font-family: Qilgabe;
    font-size: 20pt;
    color: var(--ion-color-primary);
  }
}

.buttons {
  ion-icon {
    font-size: 60px;
  }
}
