<div *ngIf="isLoading" class="spinner">
  <ion-spinner name="dots"></ion-spinner>
  <ion-label>Carregando</ion-label>
  <ion-spinner name="dots"></ion-spinner>
</div>
<ion-item *ngIf="isLoggedIn" class="item-page-title">
  <ion-icon color="primary" name="chevron-back-circle-sharp" (click)="back()"></ion-icon>
  <ion-title>{{localPageTitle}}</ion-title>
</ion-item>

<ion-item lines="none" class="month">
  <ion-label>{{currentMonth?.name}}</ion-label>
</ion-item>


<ion-grid *ngIf="!isLoading">

  <ion-row *ngIf="isLoggedIn">
    <ion-col>
      <ion-item lines="none" class="buttons">
        <ion-icon color="primary" slot="end" name="cloud-download-outline" (click)="download()"></ion-icon>
        <!-- <ion-icon color="primary" slot="end" name="mail-outline" (click)="sendEmail()"></ion-icon> -->
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let user of users">
      <ion-card>
        <ion-card-header>
          <ion-img alt="Igreaja Batista Nova Betel" [src]="user?.image"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none">
            <ion-label class="note-church">Dia {{user?.birthDate | date:'dd'}}</ion-label>
            <ion-icon color="success" slot="end" name="balloon-outline"></ion-icon>
          </ion-item>
          <ion-card-title class="title">{{ user?.name }} </ion-card-title>
          <ion-note>{{user?.church?.name}}</ion-note>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>