<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="start" color="light" (click)="cancelar()">
        <ion-icon name="arrow-undo-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button expand="block" fill="clear" type="submit" (click)="register()">
        <ion-label>SALVAR</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-item lines="none" class="input">
          <ion-label position="floating">*Nome Completo: </ion-label>
          <ion-input type="text" [(ngModel)]="user.name" #name="ngModel" name="userName"
            [ngModelOptions]="{standalone: true}" required></ion-input>
          <ion-note *ngIf="!name?.valid && name?.touched" color="danger">Este campo é obrigatório</ion-note>

        </ion-item>

        <ion-item lines="none" class="input">
          <ion-label position="floating">email: </ion-label>
          <ion-input type="email" [(ngModel)]="email" email #inputEmail="ngModel"></ion-input>
          <ion-note *ngIf="!inputEmail?.valid && inputEmail?.touched" color="danger">Email inválido</ion-note>

        </ion-item>

        <ion-item lines="none" class="input" *ngIf="iscliente">
          <ion-label>Cliente Fidelidade: </ion-label>
          <ion-toggle [checked]="user?.isFidelity" [(ngModel)]="user.isFidelity"></ion-toggle>
        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-item lines="none" class="input">
          <ion-label position="floating">Celular 1: </ion-label>
          <ion-input type="text" [brmasker]="{phone: true}" [(ngModel)]="phone1"></ion-input>
        </ion-item>

        <ion-item lines="none" class="input">
          <ion-label position="floating">Celular 2: </ion-label>
          <ion-input type="text" [brmasker]="{phone: true}" [(ngModel)]="phone2"></ion-input>
        </ion-item>

        <ion-item lines="none" class="input">
          <ion-label position="floating">Data Nascimento: </ion-label>
          <ion-input type="date" [(ngModel)]="user.birthDate"></ion-input>
        </ion-item>


        <ion-item lines="none" class="input" *ngIf="roles">
          <ion-label>Tipo</ion-label>
          <ion-select [value]="role" (ionChange)="onSelectRole($event)">
            <ion-select-option *ngFor="let item of roles" value="{{ item }}">{{ item }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none" class="input" *ngIf="role==='seller'">
          <ion-label position="floating">Meta de Vendas: </ion-label>
          <ion-input type="text" [brmasker]="{money: true}" [(ngModel)]="user.goal"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
